@charset "UTF-8";
header {
  display: flex;
  width: 100%;
  position: fixed;
  padding-bottom: 5rem;
  z-index: 900;
}

header a {
  text-decoration: none;
  color: white;
}

header h2 {
  margin-left: 1.5rem;
}

header .fa-github {
  margin-left: auto;
  width: 3rem;
  height: 4rem;
  font-size: 1.5rem;
}

.dialog-header {
  all: unset;
}

.info {
  display: flex;
}

.info button {
  margin-left: auto;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}

.right-header {
  display: flex;
  margin-left: auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

@media (max-width: 768px) {
  form {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .menu-active form {
    display: flex;
    width: 100%;
    background-color: #181c25;
    padding: 1rem;
    z-index: 10;
    flex-flow: column;
    border-radius: 5px;
  }
  .menu-active .filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .menu-active .search,
  .menu-active .filters-right {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.8rem;
    margin-left: auto;
  }
}
.cont-scroll {
  overflow-y: scroll;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
}

.game-list {
  gap: 1rem;
  margin-top: 20px;
}

.game-link {
  margin-bottom: 10px;
}
.game-link:last-child {
  margin-bottom: 0;
}

.game-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--muted);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: inherit !important;
  z-index: 500;
  position: relative;
}
.game-card h3 {
  margin: 0;
}
.game-card p {
  margin: 0.5rem 0;
}

.game-info {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-info p {
  margin: 0.5rem 0;
}
.game-info h3 {
  margin: 0;
}

.game-img {
  border-radius: 1rem;
  width: 10rem;
  height: 6rem;
  max-width: 100%;
  object-fit: fill;
}

.game-image {
  object-fit: fill;
  height: 12rem;
  width: 20rem;
  padding: 1rem;
  border: 1px solid var(--muted) !important;
  border-radius: 2rem !important;
}

.rating-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.game-rating {
  font-weight: bold;
  color: var(--success);
}
.game-rating.gold {
  color: gold;
}
.game-rating.silver {
  color: silver;
}
.game-rating.bronze {
  color: #cd7f32;
}

.rating {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: gray;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.rating-1 {
  background-color: rgb(37, 167, 65);
}

.rating-2 {
  background-color: rgb(146, 255, 56);
}

.rating-3 {
  background-color: rgb(238, 255, 0);
}

.rating-4 {
  background-color: orange;
}

.rating-5 {
  background-color: rgb(233, 58, 58);
}

.icon-dark {
  color: #333;
}

.icon-size {
  font-size: 1.5rem;
}

.game-table-info {
  width: 20rem;
}

.rating-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.rating-table td {
  padding: 0.25rem 0.5rem;
  text-align: center;
}
.rating-table td.rating-text {
  font-size: 0.8rem;
  font-weight: bold;
  padding-right: 0.5rem;
  width: 25%;
}
.rating-table td.rating-icon {
  width: 40%;
}

.device-info p {
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

.device-info strong {
  font-weight: bold;
}

.game-link,
.game-link:link,
.game-link:visited {
  text-decoration: none;
  color: inherit;
  display: block;
}

.game-link:hover .game-card {
  background-color: var(--hover-background);
  color: var(--hover-color);
  border: 1px solid;
}

.opinion-card {
  cursor: default;
}

.games-container {
  max-height: none;
  height: auto;
}

.report-button {
  bottom: 0;
  width: 100%;
}

.game-header {
  display: flex; /* Activa Flexbox para organizar los hijos */
  align-items: center; /* Centra verticalmente la imagen, el título y las descripciones */
  justify-content: space-between; /* Empuja el título+imagen a la izquierda y las descripciones a la derecha */
  gap: 1rem; /* Espacio entre los elementos (opcional) */
  margin-top: 3rem;
  z-index: 100;
}

.game-header-left {
  display: flex; /* Agrupa la imagen y el título en un bloque */
  align-items: center; /* Centra verticalmente la imagen con el título */
  gap: 1rem; /* Espacio entre la imagen y el título */
}

body {
  overflow: scroll;
  margin: 0;
  padding: 0;
  height: 100svh;
  /* overflow: hidden; Evitar scroll global */
  display: flex; /* Flex para manejar el contenido */
  flex-direction: column;
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=73c2f7&c2=1f2139&gt=r&gd=dtt

  background: #73C2F7;
  background: radial-gradient(at center bottom, #73C2F7, #1F2139);*/
}

.rating-descriptions {
  display: flex;
  flex-direction: column;
}

.rating-desc-element {
  display: flex;
  float: right;
}

.rating-desc-element p {
  padding-left: 0.7rem;
  padding-right: 1rem;
}

button {
  background-color: #3A4F7A; /* Azul oscuro complementario */
  color: #fff;
  border: none;
  padding: 0.2rem 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #2F3C5B; /* Azul aún más oscuro para hover */
}

.paging-container {
  display: flex;
}
.paging-container .dg-status-box {
  margin: auto;
  padding: 0;
  min-height: auto;
  margin-bottom: 10px;
}
.paging-container .dg-status-box .pagination {
  margin-top: 0.3rem;
  background-color: #3a4f7a;
  border-radius: 5px;
  padding: 2px;
  font-size: 0.8rem;
  z-index: 100;
}
.paging-container .dg-status-box .pagination button {
  margin-bottom: 0;
}
.paging-container .dg-status-box .pagination button[data-index=next]:hover:enabled, .paging-container .dg-status-box .pagination button[data-index=prev]:hover:enabled {
  color: #181c25;
}
.paging-container .dg-status-box .pagination .dg-number-pages button {
  margin-right: 5px;
  width: 55px;
  color: white;
}
.paging-container .dg-status-box .pagination .dg-number-pages button:hover {
  border-color: #181c25;
}
.paging-container .dg-status-box .pagination .dg-number-pages button.active {
  background-color: #181c25;
  border: none;
  color: #fff;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .container h1 {
    margin-top: 10px;
  }
  .game-header {
    padding: 1rem;
    flex-wrap: wrap;
  }
  .game-header .game-header-left {
    width: 100%;
    flex-wrap: wrap;
  }
  .game-header .game-header-left .game-image {
    width: 50%;
    padding: 0;
    height: auto;
    border-radius: 1rem !important;
  }
}
@media screen and (max-width: 480px) {
  body {
    overflow: scroll;
    background-repeat: repeat;
    height: 100svh;
    min-height: 100svh;
  }
  .container {
    max-width: 100%;
    padding: 0 15px;
    max-height: none;
    overflow-y: unset;
  }
  .game-header .game-header-left .game-image {
    width: 100%;
  }
  .game-card {
    flex-wrap: wrap;
    padding: 0.5rem;
  }
  .game-card .game-img {
    width: 100%;
    height: auto;
  }
  .game-card .game-info {
    display: block;
    min-width: 100%;
  }
  .game-card .game-info h3 {
    padding-left: 0.5rem;
  }
  .game-card .game-info td {
    padding-left: 0;
  }
  .report-button {
    font-size: 1rem;
    border-radius: 0;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
  }
}
#pagination {
  display: flex;
  flex-wrap: wrap;
}
#pagination .page-item {
  cursor: pointer;
  min-width: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
}

.user-content {
  display: flex;
  align-items: center;
}

.user-content img {
  border-radius: 50%;
  height: 2.5rem;
}

.user-content a {
  margin-left: 0.5rem;
  text-decoration: none;
}

.info-card {
  background: rgba(32, 36, 47, 0.6);
  z-index: 500;
  position: relative;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

.search input {
  width: 100%; /* Ajusta el tamaño del campo de búsqueda */
  padding: 0.3rem;
  font-size: 0.8rem;
  height: 1.8rem;
  border-radius: 5px;
}

.search button {
  margin-bottom: 0.95rem;
  height: 1.81rem;
}

.filters-right {
  display: flex;
  gap: 0.3rem;
  margin-left: 5rem;
}

.filters-right select {
  font-size: 0.8rem; /* Tamaño más pequeño */
  padding: 0.3rem;
}

.links {
  display: flex;
  gap: 15px; /* Espaciado entre enlaces */
  flex-wrap: wrap; /* Para que se ajusten si el espacio es pequeño */
}

.links a {
  text-decoration: none;
  color: #007BFF; /* Color del enlace */
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #007BFF;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
  background-color: #007BFF;
  color: #fff; /* Color del texto al pasar el cursor */
}

html {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #3e444b 0%, #090A0F 100%);
  overflow: hidden;
}

#stars, #stars2, #stars3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 202dvw 233dvw #FFF, 118dvw 60dvw #FFF, 153dvw 246dvw #FFF, 233dvw 158dvw #FFF, 109dvw 246dvw #FFF, 29dvw 138dvw #FFF, 111dvw 75dvw #FFF, 211dvw 156dvw #FFF, 59dvw 203dvw #FFF, 76dvw 139dvw #FFF, 74dvw 170dvw #FFF, 74dvw 94dvw #FFF, 215dvw 213dvw #FFF, 266dvw 216dvw #FFF, 262dvw 14dvw #FFF, 264dvw 73dvw #FFF, 184dvw 180dvw #FFF, 38dvw 11dvw #FFF, 157dvw 78dvw #FFF, 85dvw 65dvw #FFF, 83dvw 220dvw #FFF, 163dvw 211dvw #FFF, 104dvw 145dvw #FFF, 110dvw 226dvw #FFF, 184dvw 33dvw #FFF, 147dvw 257dvw #FFF, 223dvw 178dvw #FFF, 107dvw 271dvw #FFF, 282dvw 50dvw #FFF, 233dvw 43dvw #FFF, 255dvw 113dvw #FFF, 102dvw 196dvw #FFF, 234dvw 27dvw #FFF, 246dvw 266dvw #FFF, 44dvw 41dvw #FFF, 72dvw 144dvw #FFF, 80dvw 19dvw #FFF, 183dvw 300dvw #FFF, 34dvw 189dvw #FFF, 229dvw 63dvw #FFF, 190dvw 65dvw #FFF, 285dvw 28dvw #FFF, 83dvw 267dvw #FFF, 79dvw 82dvw #FFF, 297dvw 182dvw #FFF, 87dvw 34dvw #FFF, 284dvw 275dvw #FFF, 115dvw 194dvw #FFF, 239dvw 142dvw #FFF, 149dvw 172dvw #FFF, 79dvw 213dvw #FFF, 78dvw 87dvw #FFF, 270dvw 38dvw #FFF, 294dvw 191dvw #FFF, 291dvw 225dvw #FFF, 123dvw 216dvw #FFF, 223dvw 262dvw #FFF, 15dvw 201dvw #FFF, 254dvw 222dvw #FFF, 123dvw 122dvw #FFF, 144dvw 2dvw #FFF, 165dvw 23dvw #FFF, 6dvw 107dvw #FFF, 179dvw 280dvw #FFF, 144dvw 224dvw #FFF, 60dvw 11dvw #FFF, 142dvw 235dvw #FFF, 84dvw 218dvw #FFF, 248dvw 132dvw #FFF, 69dvw 171dvw #FFF, 149dvw 139dvw #FFF, 23dvw 53dvw #FFF, 294dvw 251dvw #FFF, 149dvw 288dvw #FFF, 57dvw 67dvw #FFF, 139dvw 60dvw #FFF, 211dvw 208dvw #FFF, 194dvw 65dvw #FFF, 70dvw 233dvw #FFF, 201dvw 244dvw #FFF, 41dvw 224dvw #FFF, 296dvw 172dvw #FFF, 259dvw 56dvw #FFF, 49dvw 92dvw #FFF, 251dvw 113dvw #FFF, 299dvw 182dvw #FFF, 193dvw 11dvw #FFF, 156dvw 281dvw #FFF, 49dvw 5dvw #FFF, 267dvw 158dvw #FFF, 194dvw 95dvw #FFF, 96dvw 50dvw #FFF, 255dvw 86dvw #FFF, 60dvw 274dvw #FFF, 131dvw 173dvw #FFF, 118dvw 264dvw #FFF, 25dvw 291dvw #FFF, 173dvw 255dvw #FFF, 219dvw 146dvw #FFF, 254dvw 160dvw #FFF, 49dvw 62dvw #FFF, 284dvw 36dvw #FFF, 35dvw 41dvw #FFF, 60dvw 156dvw #FFF, 212dvw 245dvw #FFF, 265dvw 87dvw #FFF, 275dvw 135dvw #FFF, 16dvw 126dvw #FFF, 261dvw 62dvw #FFF, 278dvw 300dvw #FFF, 104dvw 176dvw #FFF, 113dvw 97dvw #FFF, 139dvw 171dvw #FFF, 235dvw 109dvw #FFF, 64dvw 270dvw #FFF, 168dvw 228dvw #FFF, 182dvw 69dvw #FFF, 265dvw 271dvw #FFF, 145dvw 89dvw #FFF, 44dvw 246dvw #FFF, 193dvw 139dvw #FFF, 178dvw 12dvw #FFF, 8dvw 242dvw #FFF, 189dvw 58dvw #FFF, 67dvw 281dvw #FFF, 205dvw 274dvw #FFF, 102dvw 105dvw #FFF, 186dvw 249dvw #FFF, 255dvw 11dvw #FFF, 130dvw 283dvw #FFF, 272dvw 206dvw #FFF, 145dvw 81dvw #FFF, 35dvw 76dvw #FFF, 138dvw 7dvw #FFF, 47dvw 84dvw #FFF, 95dvw 123dvw #FFF, 278dvw 227dvw #FFF, 47dvw 239dvw #FFF, 228dvw 166dvw #FFF, 45dvw 189dvw #FFF, 111dvw 115dvw #FFF, 158dvw 194dvw #FFF, 119dvw 79dvw #FFF, 209dvw 45dvw #FFF, 222dvw 271dvw #FFF, 242dvw 272dvw #FFF, 115dvw 282dvw #FFF, 158dvw 246dvw #FFF, 259dvw 23dvw #FFF, 224dvw 276dvw #FFF, 68dvw 141dvw #FFF, 56dvw 17dvw #FFF, 204dvw 102dvw #FFF, 274dvw 94dvw #FFF, 205dvw 146dvw #FFF, 274dvw 98dvw #FFF, 51dvw 185dvw #FFF, 79dvw 276dvw #FFF, 28dvw 135dvw #FFF, 6dvw 219dvw #FFF, 170dvw 176dvw #FFF, 140dvw 7dvw #FFF, 10dvw 15dvw #FFF, 26dvw 261dvw #FFF, 203dvw 24dvw #FFF, 227dvw 141dvw #FFF, 296dvw 251dvw #FFF, 30dvw 34dvw #FFF, 172dvw 191dvw #FFF, 8dvw 164dvw #FFF, 14dvw 199dvw #FFF, 139dvw 107dvw #FFF, 78dvw 18dvw #FFF, 276dvw 83dvw #FFF, 291dvw 294dvw #FFF, 226dvw 198dvw #FFF, 156dvw 77dvw #FFF, 23dvw 56dvw #FFF, 83dvw 292dvw #FFF, 298dvw 250dvw #FFF, 137dvw 260dvw #FFF, 300dvw 231dvw #FFF, 41dvw 61dvw #FFF, 241dvw 187dvw #FFF, 141dvw 264dvw #FFF, 264dvw 40dvw #FFF, 95dvw 221dvw #FFF, 65dvw 102dvw #FFF, 169dvw 243dvw #FFF, 262dvw 70dvw #FFF, 6dvw 86dvw #FFF, 53dvw 264dvw #FFF, 171dvw 60dvw #FFF, 6dvw 214dvw #FFF, 214dvw 53dvw #FFF, 142dvw 145dvw #FFF, 91dvw 202dvw #FFF, 262dvw 76dvw #FFF, 183dvw 297dvw #FFF, 214dvw 184dvw #FFF, 145dvw 235dvw #FFF, 254dvw 249dvw #FFF, 231dvw 131dvw #FFF, 269dvw 167dvw #FFF, 283dvw 7dvw #FFF, 229dvw 13dvw #FFF, 175dvw 200dvw #FFF, 134dvw 30dvw #FFF, 138dvw 243dvw #FFF, 42dvw 95dvw #FFF, 27dvw 3dvw #FFF, 276dvw 19dvw #FFF, 2dvw 126dvw #FFF, 111dvw 50dvw #FFF, 81dvw 259dvw #FFF, 222dvw 128dvw #FFF, 66dvw 184dvw #FFF, 225dvw 28dvw #FFF, 84dvw 71dvw #FFF, 288dvw 201dvw #FFF, 155dvw 4dvw #FFF, 187dvw 262dvw #FFF, 58dvw 269dvw #FFF, 281dvw 78dvw #FFF, 48dvw 74dvw #FFF, 200dvw 80dvw #FFF, 114dvw 83dvw #FFF, 244dvw 181dvw #FFF, 238dvw 11dvw #FFF, 79dvw 251dvw #FFF, 252dvw 128dvw #FFF, 172dvw 161dvw #FFF, 241dvw 71dvw #FFF, 95dvw 36dvw #FFF, 206dvw 94dvw #FFF, 183dvw 131dvw #FFF, 84dvw 281dvw #FFF, 115dvw 14dvw #FFF, 151dvw 270dvw #FFF, 169dvw 211dvw #FFF, 135dvw 106dvw #FFF, 81dvw 97dvw #FFF, 81dvw 168dvw #FFF, 125dvw 205dvw #FFF, 195dvw 242dvw #FFF, 70dvw 201dvw #FFF, 145dvw 290dvw #FFF, 101dvw 180dvw #FFF, 276dvw 38dvw #FFF, 20dvw 54dvw #FFF, 196dvw 244dvw #FFF, 136dvw 168dvw #FFF, 225dvw 35dvw #FFF, 123dvw 36dvw #FFF, 223dvw 144dvw #FFF, 195dvw 289dvw #FFF, 8dvw 20dvw #FFF, 61dvw 192dvw #FFF, 157dvw 278dvw #FFF, 83dvw 213dvw #FFF, 6dvw 244dvw #FFF, 136dvw 161dvw #FFF, 121dvw 139dvw #FFF, 47dvw 202dvw #FFF, 263dvw 277dvw #FFF, 214dvw 239dvw #FFF, 258dvw 92dvw #FFF, 300dvw 128dvw #FFF, 81dvw 159dvw #FFF, 54dvw 45dvw #FFF, 295dvw 153dvw #FFF, 239dvw 260dvw #FFF, 191dvw 17dvw #FFF, 163dvw 208dvw #FFF, 140dvw 106dvw #FFF, 201dvw 77dvw #FFF, 293dvw 271dvw #FFF, 215dvw 189dvw #FFF, 183dvw 118dvw #FFF, 259dvw 190dvw #FFF, 215dvw 175dvw #FFF, 151dvw 144dvw #FFF, 10dvw 98dvw #FFF, 246dvw 136dvw #FFF, 269dvw 29dvw #FFF, 34dvw 13dvw #FFF, 31dvw 37dvw #FFF, 196dvw 255dvw #FFF, 269dvw 34dvw #FFF, 238dvw 98dvw #FFF, 287dvw 83dvw #FFF, 293dvw 288dvw #FFF, 19dvw 1dvw #FFF, 129dvw 27dvw #FFF, 196dvw 300dvw #FFF, 163dvw 206dvw #FFF, 297dvw 149dvw #FFF, 104dvw 82dvw #FFF, 175dvw 108dvw #FFF, 201dvw 188dvw #FFF, 48dvw 43dvw #FFF, 168dvw 266dvw #FFF, 155dvw 154dvw #FFF, 286dvw 201dvw #FFF, 64dvw 114dvw #FFF, 169dvw 177dvw #FFF, 190dvw 92dvw #FFF, 178dvw 231dvw #FFF, 193dvw 109dvw #FFF, 257dvw 150dvw #FFF, 276dvw 46dvw #FFF, 156dvw 25dvw #FFF, 300dvw 125dvw #FFF, 215dvw 260dvw #FFF, 25dvw 247dvw #FFF, 201dvw 190dvw #FFF, 116dvw 121dvw #FFF, 187dvw 65dvw #FFF, 64dvw 159dvw #FFF, 290dvw 285dvw #FFF, 279dvw 116dvw #FFF, 237dvw 191dvw #FFF, 115dvw 15dvw #FFF, 113dvw 277dvw #FFF, 114dvw 20dvw #FFF, 165dvw 21dvw #FFF, 62dvw 206dvw #FFF, 135dvw 236dvw #FFF, 87dvw 59dvw #FFF, 80dvw 224dvw #FFF, 52dvw 16dvw #FFF, 58dvw 93dvw #FFF, 85dvw 158dvw #FFF, 93dvw 251dvw #FFF, 76dvw 230dvw #FFF, 167dvw 256dvw #FFF, 126dvw 116dvw #FFF, 54dvw 10dvw #FFF, 261dvw 162dvw #FFF, 61dvw 260dvw #FFF, 190dvw 30dvw #FFF, 171dvw 270dvw #FFF, 93dvw 123dvw #FFF, 238dvw 55dvw #FFF, 23dvw 129dvw #FFF, 8dvw 127dvw #FFF, 38dvw 60dvw #FFF, 50dvw 247dvw #FFF, 192dvw 210dvw #FFF, 168dvw 133dvw #FFF, 244dvw 201dvw #FFF, 9dvw 254dvw #FFF, 87dvw 291dvw #FFF, 29dvw 193dvw #FFF, 76dvw 182dvw #FFF, 248dvw 208dvw #FFF, 190dvw 276dvw #FFF, 185dvw 96dvw #FFF, 197dvw 14dvw #FFF, 168dvw 130dvw #FFF, 291dvw 113dvw #FFF, 159dvw 70dvw #FFF, 120dvw 90dvw #FFF, 11dvw 214dvw #FFF, 221dvw 107dvw #FFF, 15dvw 300dvw #FFF, 287dvw 38dvw #FFF, 71dvw 5dvw #FFF, 125dvw 209dvw #FFF, 270dvw 111dvw #FFF, 53dvw 257dvw #FFF, 233dvw 146dvw #FFF, 256dvw 176dvw #FFF, 238dvw 267dvw #FFF, 61dvw 193dvw #FFF, 91dvw 162dvw #FFF, 41dvw 281dvw #FFF, 84dvw 242dvw #FFF, 25dvw 151dvw #FFF, 91dvw 253dvw #FFF, 41dvw 158dvw #FFF, 218dvw 246dvw #FFF, 93dvw 169dvw #FFF, 176dvw 19dvw #FFF, 143dvw 243dvw #FFF, 290dvw 251dvw #FFF, 21dvw 5dvw #FFF, 274dvw 205dvw #FFF, 118dvw 59dvw #FFF, 163dvw 190dvw #FFF, 153dvw 240dvw #FFF, 163dvw 264dvw #FFF, 155dvw 163dvw #FFF, 33dvw 226dvw #FFF, 213dvw 213dvw #FFF, 78dvw 230dvw #FFF, 44dvw 30dvw #FFF, 25dvw 93dvw #FFF, 207dvw 118dvw #FFF, 268dvw 48dvw #FFF, 241dvw 61dvw #FFF, 87dvw 102dvw #FFF, 178dvw 200dvw #FFF, 74dvw 169dvw #FFF, 15dvw 96dvw #FFF, 269dvw 218dvw #FFF, 136dvw 299dvw #FFF, 155dvw 110dvw #FFF, 160dvw 233dvw #FFF, 209dvw 115dvw #FFF, 265dvw 83dvw #FFF, 10dvw 74dvw #FFF, 16dvw 255dvw #FFF, 187dvw 1dvw #FFF, 236dvw 278dvw #FFF, 64dvw 190dvw #FFF, 270dvw 230dvw #FFF, 135dvw 248dvw #FFF, 45dvw 156dvw #FFF, 174dvw 272dvw #FFF, 287dvw 99dvw #FFF, 231dvw 251dvw #FFF, 137dvw 69dvw #FFF, 164dvw 212dvw #FFF, 77dvw 105dvw #FFF, 50dvw 56dvw #FFF, 183dvw 99dvw #FFF, 174dvw 212dvw #FFF, 74dvw 18dvw #FFF, 205dvw 13dvw #FFF, 250dvw 106dvw #FFF, 208dvw 250dvw #FFF, 165dvw 293dvw #FFF, 160dvw 229dvw #FFF, 103dvw 228dvw #FFF, 237dvw 56dvw #FFF, 54dvw 99dvw #FFF, 200dvw 194dvw #FFF, 183dvw 1dvw #FFF, 19dvw 139dvw #FFF, 51dvw 146dvw #FFF, 2dvw 285dvw #FFF, 300dvw 220dvw #FFF, 4dvw 84dvw #FFF, 167dvw 75dvw #FFF, 69dvw 175dvw #FFF, 185dvw 221dvw #FFF, 81dvw 2dvw #FFF, 213dvw 69dvw #FFF, 161dvw 190dvw #FFF, 244dvw 154dvw #FFF, 1dvw 86dvw #FFF, 86dvw 38dvw #FFF, 1dvw 84dvw #FFF, 9dvw 224dvw #FFF, 7dvw 224dvw #FFF, 278dvw 12dvw #FFF, 296dvw 300dvw #FFF, 294dvw 158dvw #FFF, 95dvw 156dvw #FFF, 138dvw 10dvw #FFF, 250dvw 82dvw #FFF, 281dvw 283dvw #FFF, 131dvw 283dvw #FFF, 84dvw 261dvw #FFF, 169dvw 23dvw #FFF, 103dvw 261dvw #FFF, 39dvw 164dvw #FFF, 20dvw 244dvw #FFF, 241dvw 111dvw #FFF, 192dvw 293dvw #FFF, 25dvw 84dvw #FFF, 299dvw 176dvw #FFF, 28dvw 237dvw #FFF, 192dvw 156dvw #FFF, 206dvw 39dvw #FFF, 281dvw 99dvw #FFF, 24dvw 190dvw #FFF, 229dvw 285dvw #FFF, 64dvw 191dvw #FFF, 140dvw 193dvw #FFF, 256dvw 115dvw #FFF, 247dvw 212dvw #FFF, 166dvw 189dvw #FFF, 74dvw 69dvw #FFF, 161dvw 291dvw #FFF, 265dvw 179dvw #FFF, 55dvw 134dvw #FFF, 221dvw 186dvw #FFF, 143dvw 90dvw #FFF, 271dvw 167dvw #FFF, 291dvw 57dvw #FFF, 78dvw 3dvw #FFF, 235dvw 55dvw #FFF, 106dvw 49dvw #FFF, 238dvw 200dvw #FFF, 48dvw 213dvw #FFF, 166dvw 194dvw #FFF, 271dvw 300dvw #FFF, 125dvw 129dvw #FFF, 209dvw 52dvw #FFF, 108dvw 220dvw #FFF, 288dvw 123dvw #FFF, 107dvw 219dvw #FFF, 179dvw 44dvw #FFF, 146dvw 99dvw #FFF, 211dvw 290dvw #FFF, 55dvw 81dvw #FFF, 12dvw 62dvw #FFF, 7dvw 169dvw #FFF, 17dvw 179dvw #FFF, 130dvw 180dvw #FFF, 38dvw 182dvw #FFF, 116dvw 111dvw #FFF, 125dvw 237dvw #FFF, 199dvw 98dvw #FFF, 245dvw 184dvw #FFF, 8dvw 105dvw #FFF, 109dvw 227dvw #FFF, 175dvw 95dvw #FFF, 57dvw 73dvw #FFF, 190dvw 71dvw #FFF, 248dvw 51dvw #FFF, 220dvw 157dvw #FFF, 3dvw 296dvw #FFF, 245dvw 1dvw #FFF, 242dvw 272dvw #FFF, 209dvw 180dvw #FFF, 277dvw 211dvw #FFF, 63dvw 220dvw #FFF, 135dvw 24dvw #FFF, 267dvw 290dvw #FFF, 154dvw 192dvw #FFF, 72dvw 197dvw #FFF, 86dvw 273dvw #FFF, 165dvw 206dvw #FFF, 7dvw 26dvw #FFF, 90dvw 52dvw #FFF, 168dvw 167dvw #FFF, 80dvw 63dvw #FFF, 143dvw 116dvw #FFF, 51dvw 283dvw #FFF, 173dvw 9dvw #FFF, 64dvw 52dvw #FFF, 147dvw 109dvw #FFF, 255dvw 222dvw #FFF, 51dvw 125dvw #FFF, 176dvw 178dvw #FFF, 168dvw 100dvw #FFF, 127dvw 139dvw #FFF, 131dvw 286dvw #FFF, 263dvw 80dvw #FFF, 102dvw 103dvw #FFF, 48dvw 101dvw #FFF, 242dvw 118dvw #FFF, 240dvw 126dvw #FFF, 225dvw 236dvw #FFF, 70dvw 235dvw #FFF, 164dvw 86dvw #FFF, 47dvw 265dvw #FFF, 256dvw 258dvw #FFF, 191dvw 236dvw #FFF, 186dvw 18dvw #FFF, 137dvw 107dvw #FFF, 300dvw 277dvw #FFF, 21dvw 48dvw #FFF, 245dvw 80dvw #FFF, 8dvw 20dvw #FFF, 282dvw 155dvw #FFF, 36dvw 68dvw #FFF, 98dvw 159dvw #FFF, 223dvw 180dvw #FFF, 254dvw 243dvw #FFF, 109dvw 119dvw #FFF, 269dvw 129dvw #FFF, 17dvw 144dvw #FFF, 272dvw 59dvw #FFF, 211dvw 11dvw #FFF, 278dvw 74dvw #FFF, 179dvw 250dvw #FFF, 109dvw 158dvw #FFF, 118dvw 129dvw #FFF, 110dvw 52dvw #FFF, 95dvw 299dvw #FFF, 170dvw 250dvw #FFF, 69dvw 3dvw #FFF, 105dvw 252dvw #FFF, 146dvw 32dvw #FFF, 42dvw 10dvw #FFF, 253dvw 252dvw #FFF, 250dvw 169dvw #FFF, 154dvw 42dvw #FFF, 142dvw 291dvw #FFF, 72dvw 262dvw #FFF, 54dvw 287dvw #FFF, 12dvw 279dvw #FFF, 134dvw 225dvw #FFF, 164dvw 10dvw #FFF, 101dvw 224dvw #FFF, 223dvw 249dvw #FFF, 18dvw 107dvw #FFF, 136dvw 244dvw #FFF, 5dvw 24dvw #FFF, 127dvw 103dvw #FFF, 62dvw 148dvw #FFF, 274dvw 153dvw #FFF, 89dvw 140dvw #FFF, 95dvw 94dvw #FFF, 144dvw 150dvw #FFF, 181dvw 94dvw #FFF, 28dvw 14dvw #FFF, 88dvw 124dvw #FFF, 51dvw 245dvw #FFF, 47dvw 208dvw #FFF, 224dvw 156dvw #FFF, 207dvw 221dvw #FFF, 103dvw 65dvw #FFF, 214dvw 244dvw #FFF, 225dvw 117dvw #FFF, 243dvw 22dvw #FFF, 201dvw 277dvw #FFF, 77dvw 237dvw #FFF, 276dvw 274dvw #FFF, 256dvw 39dvw #FFF, 90dvw 37dvw #FFF, 273dvw 130dvw #FFF, 215dvw 212dvw #FFF, 190dvw 29dvw #FFF, 167dvw 270dvw #FFF, 165dvw 214dvw #FFF, 37dvw 14dvw #FFF, 176dvw 20dvw #FFF, 20dvw 74dvw #FFF, 106dvw 295dvw #FFF, 206dvw 290dvw #FFF, 153dvw 177dvw #FFF, 216dvw 20dvw #FFF, 260dvw 90dvw #FFF, 159dvw 3dvw #FFF, 93dvw 139dvw #FFF, 248dvw 294dvw #FFF, 272dvw 144dvw #FFF, 113dvw 277dvw #FFF, 237dvw 270dvw #FFF, 172dvw 227dvw #FFF, 231dvw 130dvw #FFF, 49dvw 180dvw #FFF, 25dvw 87dvw #FFF, 282dvw 182dvw #FFF, 86dvw 20dvw #FFF, 104dvw 149dvw #FFF, 148dvw 9dvw #FFF, 208dvw 90dvw #FFF, 288dvw 274dvw #FFF, 300dvw 300dvw #FFF, 254dvw 169dvw #FFF, 190dvw 188dvw #FFF, 112dvw 163dvw #FFF, 284dvw 286dvw #FFF, 27dvw 231dvw #FFF, 259dvw 108dvw #FFF, 123dvw 168dvw #FFF, 281dvw 173dvw #FFF, 68dvw 147dvw #FFF, 205dvw 128dvw #FFF, 61dvw 246dvw #FFF, 70dvw 97dvw #FFF, 264dvw 271dvw #FFF, 53dvw 283dvw #FFF, 254dvw 177dvw #FFF, 224dvw 246dvw #FFF, 60dvw 204dvw #FFF, 91dvw 35dvw #FFF, 127dvw 167dvw #FFF, 88dvw 172dvw #FFF, 117dvw 151dvw #FFF, 195dvw 159dvw #FFF, 149dvw 256dvw #FFF, 226dvw 135dvw #FFF, 287dvw 267dvw #FFF, 127dvw 6dvw #FFF, 284dvw 144dvw #FFF, 61dvw 15dvw #FFF, 159dvw 258dvw #FFF, 278dvw 252dvw #FFF, 11dvw 23dvw #FFF, 201dvw 271dvw #FFF, 223dvw 100dvw #FFF, 291dvw 212dvw #FFF, 201dvw 83dvw #FFF, 225dvw 238dvw #FFF, 90dvw 26dvw #FFF, 222dvw 124dvw #FFF, 188dvw 50dvw #FFF, 41dvw 45dvw #FFF, 220dvw 223dvw #FFF, 173dvw 137dvw #FFF, 123dvw 116dvw #FFF, 45dvw 282dvw #FFF, 261dvw 154dvw #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 202dvw 233dvw #FFF, 118dvw 60dvw #FFF, 153dvw 246dvw #FFF, 233dvw 158dvw #FFF, 109dvw 246dvw #FFF, 29dvw 138dvw #FFF, 111dvw 75dvw #FFF, 211dvw 156dvw #FFF, 59dvw 203dvw #FFF, 76dvw 139dvw #FFF, 74dvw 170dvw #FFF, 74dvw 94dvw #FFF, 215dvw 213dvw #FFF, 266dvw 216dvw #FFF, 262dvw 14dvw #FFF, 264dvw 73dvw #FFF, 184dvw 180dvw #FFF, 38dvw 11dvw #FFF, 157dvw 78dvw #FFF, 85dvw 65dvw #FFF, 83dvw 220dvw #FFF, 163dvw 211dvw #FFF, 104dvw 145dvw #FFF, 110dvw 226dvw #FFF, 184dvw 33dvw #FFF, 147dvw 257dvw #FFF, 223dvw 178dvw #FFF, 107dvw 271dvw #FFF, 282dvw 50dvw #FFF, 233dvw 43dvw #FFF, 255dvw 113dvw #FFF, 102dvw 196dvw #FFF, 234dvw 27dvw #FFF, 246dvw 266dvw #FFF, 44dvw 41dvw #FFF, 72dvw 144dvw #FFF, 80dvw 19dvw #FFF, 183dvw 300dvw #FFF, 34dvw 189dvw #FFF, 229dvw 63dvw #FFF, 190dvw 65dvw #FFF, 285dvw 28dvw #FFF, 83dvw 267dvw #FFF, 79dvw 82dvw #FFF, 297dvw 182dvw #FFF, 87dvw 34dvw #FFF, 284dvw 275dvw #FFF, 115dvw 194dvw #FFF, 239dvw 142dvw #FFF, 149dvw 172dvw #FFF, 79dvw 213dvw #FFF, 78dvw 87dvw #FFF, 270dvw 38dvw #FFF, 294dvw 191dvw #FFF, 291dvw 225dvw #FFF, 123dvw 216dvw #FFF, 223dvw 262dvw #FFF, 15dvw 201dvw #FFF, 254dvw 222dvw #FFF, 123dvw 122dvw #FFF, 144dvw 2dvw #FFF, 165dvw 23dvw #FFF, 6dvw 107dvw #FFF, 179dvw 280dvw #FFF, 144dvw 224dvw #FFF, 60dvw 11dvw #FFF, 142dvw 235dvw #FFF, 84dvw 218dvw #FFF, 248dvw 132dvw #FFF, 69dvw 171dvw #FFF, 149dvw 139dvw #FFF, 23dvw 53dvw #FFF, 294dvw 251dvw #FFF, 149dvw 288dvw #FFF, 57dvw 67dvw #FFF, 139dvw 60dvw #FFF, 211dvw 208dvw #FFF, 194dvw 65dvw #FFF, 70dvw 233dvw #FFF, 201dvw 244dvw #FFF, 41dvw 224dvw #FFF, 296dvw 172dvw #FFF, 259dvw 56dvw #FFF, 49dvw 92dvw #FFF, 251dvw 113dvw #FFF, 299dvw 182dvw #FFF, 193dvw 11dvw #FFF, 156dvw 281dvw #FFF, 49dvw 5dvw #FFF, 267dvw 158dvw #FFF, 194dvw 95dvw #FFF, 96dvw 50dvw #FFF, 255dvw 86dvw #FFF, 60dvw 274dvw #FFF, 131dvw 173dvw #FFF, 118dvw 264dvw #FFF, 25dvw 291dvw #FFF, 173dvw 255dvw #FFF, 219dvw 146dvw #FFF, 254dvw 160dvw #FFF, 49dvw 62dvw #FFF, 284dvw 36dvw #FFF, 35dvw 41dvw #FFF, 60dvw 156dvw #FFF, 212dvw 245dvw #FFF, 265dvw 87dvw #FFF, 275dvw 135dvw #FFF, 16dvw 126dvw #FFF, 261dvw 62dvw #FFF, 278dvw 300dvw #FFF, 104dvw 176dvw #FFF, 113dvw 97dvw #FFF, 139dvw 171dvw #FFF, 235dvw 109dvw #FFF, 64dvw 270dvw #FFF, 168dvw 228dvw #FFF, 182dvw 69dvw #FFF, 265dvw 271dvw #FFF, 145dvw 89dvw #FFF, 44dvw 246dvw #FFF, 193dvw 139dvw #FFF, 178dvw 12dvw #FFF, 8dvw 242dvw #FFF, 189dvw 58dvw #FFF, 67dvw 281dvw #FFF, 205dvw 274dvw #FFF, 102dvw 105dvw #FFF, 186dvw 249dvw #FFF, 255dvw 11dvw #FFF, 130dvw 283dvw #FFF, 272dvw 206dvw #FFF, 145dvw 81dvw #FFF, 35dvw 76dvw #FFF, 138dvw 7dvw #FFF, 47dvw 84dvw #FFF, 95dvw 123dvw #FFF, 278dvw 227dvw #FFF, 47dvw 239dvw #FFF, 228dvw 166dvw #FFF, 45dvw 189dvw #FFF, 111dvw 115dvw #FFF, 158dvw 194dvw #FFF, 119dvw 79dvw #FFF, 209dvw 45dvw #FFF, 222dvw 271dvw #FFF, 242dvw 272dvw #FFF, 115dvw 282dvw #FFF, 158dvw 246dvw #FFF, 259dvw 23dvw #FFF, 224dvw 276dvw #FFF, 68dvw 141dvw #FFF, 56dvw 17dvw #FFF, 204dvw 102dvw #FFF, 274dvw 94dvw #FFF, 205dvw 146dvw #FFF, 274dvw 98dvw #FFF, 51dvw 185dvw #FFF, 79dvw 276dvw #FFF, 28dvw 135dvw #FFF, 6dvw 219dvw #FFF, 170dvw 176dvw #FFF, 140dvw 7dvw #FFF, 10dvw 15dvw #FFF, 26dvw 261dvw #FFF, 203dvw 24dvw #FFF, 227dvw 141dvw #FFF, 296dvw 251dvw #FFF, 30dvw 34dvw #FFF, 172dvw 191dvw #FFF, 8dvw 164dvw #FFF, 14dvw 199dvw #FFF, 139dvw 107dvw #FFF, 78dvw 18dvw #FFF, 276dvw 83dvw #FFF, 291dvw 294dvw #FFF, 226dvw 198dvw #FFF, 156dvw 77dvw #FFF, 23dvw 56dvw #FFF, 83dvw 292dvw #FFF, 298dvw 250dvw #FFF, 137dvw 260dvw #FFF, 300dvw 231dvw #FFF, 41dvw 61dvw #FFF, 241dvw 187dvw #FFF, 141dvw 264dvw #FFF, 264dvw 40dvw #FFF, 95dvw 221dvw #FFF, 65dvw 102dvw #FFF, 169dvw 243dvw #FFF, 262dvw 70dvw #FFF, 6dvw 86dvw #FFF, 53dvw 264dvw #FFF, 171dvw 60dvw #FFF, 6dvw 214dvw #FFF, 214dvw 53dvw #FFF, 142dvw 145dvw #FFF, 91dvw 202dvw #FFF, 262dvw 76dvw #FFF, 183dvw 297dvw #FFF, 214dvw 184dvw #FFF, 145dvw 235dvw #FFF, 254dvw 249dvw #FFF, 231dvw 131dvw #FFF, 269dvw 167dvw #FFF, 283dvw 7dvw #FFF, 229dvw 13dvw #FFF, 175dvw 200dvw #FFF, 134dvw 30dvw #FFF, 138dvw 243dvw #FFF, 42dvw 95dvw #FFF, 27dvw 3dvw #FFF, 276dvw 19dvw #FFF, 2dvw 126dvw #FFF, 111dvw 50dvw #FFF, 81dvw 259dvw #FFF, 222dvw 128dvw #FFF, 66dvw 184dvw #FFF, 225dvw 28dvw #FFF, 84dvw 71dvw #FFF, 288dvw 201dvw #FFF, 155dvw 4dvw #FFF, 187dvw 262dvw #FFF, 58dvw 269dvw #FFF, 281dvw 78dvw #FFF, 48dvw 74dvw #FFF, 200dvw 80dvw #FFF, 114dvw 83dvw #FFF, 244dvw 181dvw #FFF, 238dvw 11dvw #FFF, 79dvw 251dvw #FFF, 252dvw 128dvw #FFF, 172dvw 161dvw #FFF, 241dvw 71dvw #FFF, 95dvw 36dvw #FFF, 206dvw 94dvw #FFF, 183dvw 131dvw #FFF, 84dvw 281dvw #FFF, 115dvw 14dvw #FFF, 151dvw 270dvw #FFF, 169dvw 211dvw #FFF, 135dvw 106dvw #FFF, 81dvw 97dvw #FFF, 81dvw 168dvw #FFF, 125dvw 205dvw #FFF, 195dvw 242dvw #FFF, 70dvw 201dvw #FFF, 145dvw 290dvw #FFF, 101dvw 180dvw #FFF, 276dvw 38dvw #FFF, 20dvw 54dvw #FFF, 196dvw 244dvw #FFF, 136dvw 168dvw #FFF, 225dvw 35dvw #FFF, 123dvw 36dvw #FFF, 223dvw 144dvw #FFF, 195dvw 289dvw #FFF, 8dvw 20dvw #FFF, 61dvw 192dvw #FFF, 157dvw 278dvw #FFF, 83dvw 213dvw #FFF, 6dvw 244dvw #FFF, 136dvw 161dvw #FFF, 121dvw 139dvw #FFF, 47dvw 202dvw #FFF, 263dvw 277dvw #FFF, 214dvw 239dvw #FFF, 258dvw 92dvw #FFF, 300dvw 128dvw #FFF, 81dvw 159dvw #FFF, 54dvw 45dvw #FFF, 295dvw 153dvw #FFF, 239dvw 260dvw #FFF, 191dvw 17dvw #FFF, 163dvw 208dvw #FFF, 140dvw 106dvw #FFF, 201dvw 77dvw #FFF, 293dvw 271dvw #FFF, 215dvw 189dvw #FFF, 183dvw 118dvw #FFF, 259dvw 190dvw #FFF, 215dvw 175dvw #FFF, 151dvw 144dvw #FFF, 10dvw 98dvw #FFF, 246dvw 136dvw #FFF, 269dvw 29dvw #FFF, 34dvw 13dvw #FFF, 31dvw 37dvw #FFF, 196dvw 255dvw #FFF, 269dvw 34dvw #FFF, 238dvw 98dvw #FFF, 287dvw 83dvw #FFF, 293dvw 288dvw #FFF, 19dvw 1dvw #FFF, 129dvw 27dvw #FFF, 196dvw 300dvw #FFF, 163dvw 206dvw #FFF, 297dvw 149dvw #FFF, 104dvw 82dvw #FFF, 175dvw 108dvw #FFF, 201dvw 188dvw #FFF, 48dvw 43dvw #FFF, 168dvw 266dvw #FFF, 155dvw 154dvw #FFF, 286dvw 201dvw #FFF, 64dvw 114dvw #FFF, 169dvw 177dvw #FFF, 190dvw 92dvw #FFF, 178dvw 231dvw #FFF, 193dvw 109dvw #FFF, 257dvw 150dvw #FFF, 276dvw 46dvw #FFF, 156dvw 25dvw #FFF, 300dvw 125dvw #FFF, 215dvw 260dvw #FFF, 25dvw 247dvw #FFF, 201dvw 190dvw #FFF, 116dvw 121dvw #FFF, 187dvw 65dvw #FFF, 64dvw 159dvw #FFF, 290dvw 285dvw #FFF, 279dvw 116dvw #FFF, 237dvw 191dvw #FFF, 115dvw 15dvw #FFF, 113dvw 277dvw #FFF, 114dvw 20dvw #FFF, 165dvw 21dvw #FFF, 62dvw 206dvw #FFF, 135dvw 236dvw #FFF, 87dvw 59dvw #FFF, 80dvw 224dvw #FFF, 52dvw 16dvw #FFF, 58dvw 93dvw #FFF, 85dvw 158dvw #FFF, 93dvw 251dvw #FFF, 76dvw 230dvw #FFF, 167dvw 256dvw #FFF, 126dvw 116dvw #FFF, 54dvw 10dvw #FFF, 261dvw 162dvw #FFF, 61dvw 260dvw #FFF, 190dvw 30dvw #FFF, 171dvw 270dvw #FFF, 93dvw 123dvw #FFF, 238dvw 55dvw #FFF, 23dvw 129dvw #FFF, 8dvw 127dvw #FFF, 38dvw 60dvw #FFF, 50dvw 247dvw #FFF, 192dvw 210dvw #FFF, 168dvw 133dvw #FFF, 244dvw 201dvw #FFF, 9dvw 254dvw #FFF, 87dvw 291dvw #FFF, 29dvw 193dvw #FFF, 76dvw 182dvw #FFF, 248dvw 208dvw #FFF, 190dvw 276dvw #FFF, 185dvw 96dvw #FFF, 197dvw 14dvw #FFF, 168dvw 130dvw #FFF, 291dvw 113dvw #FFF, 159dvw 70dvw #FFF, 120dvw 90dvw #FFF, 11dvw 214dvw #FFF, 221dvw 107dvw #FFF, 15dvw 300dvw #FFF, 287dvw 38dvw #FFF, 71dvw 5dvw #FFF, 125dvw 209dvw #FFF, 270dvw 111dvw #FFF, 53dvw 257dvw #FFF, 233dvw 146dvw #FFF, 256dvw 176dvw #FFF, 238dvw 267dvw #FFF, 61dvw 193dvw #FFF, 91dvw 162dvw #FFF, 41dvw 281dvw #FFF, 84dvw 242dvw #FFF, 25dvw 151dvw #FFF, 91dvw 253dvw #FFF, 41dvw 158dvw #FFF, 218dvw 246dvw #FFF, 93dvw 169dvw #FFF, 176dvw 19dvw #FFF, 143dvw 243dvw #FFF, 290dvw 251dvw #FFF, 21dvw 5dvw #FFF, 274dvw 205dvw #FFF, 118dvw 59dvw #FFF, 163dvw 190dvw #FFF, 153dvw 240dvw #FFF, 163dvw 264dvw #FFF, 155dvw 163dvw #FFF, 33dvw 226dvw #FFF, 213dvw 213dvw #FFF, 78dvw 230dvw #FFF, 44dvw 30dvw #FFF, 25dvw 93dvw #FFF, 207dvw 118dvw #FFF, 268dvw 48dvw #FFF, 241dvw 61dvw #FFF, 87dvw 102dvw #FFF, 178dvw 200dvw #FFF, 74dvw 169dvw #FFF, 15dvw 96dvw #FFF, 269dvw 218dvw #FFF, 136dvw 299dvw #FFF, 155dvw 110dvw #FFF, 160dvw 233dvw #FFF, 209dvw 115dvw #FFF, 265dvw 83dvw #FFF, 10dvw 74dvw #FFF, 16dvw 255dvw #FFF, 187dvw 1dvw #FFF, 236dvw 278dvw #FFF, 64dvw 190dvw #FFF, 270dvw 230dvw #FFF, 135dvw 248dvw #FFF, 45dvw 156dvw #FFF, 174dvw 272dvw #FFF, 287dvw 99dvw #FFF, 231dvw 251dvw #FFF, 137dvw 69dvw #FFF, 164dvw 212dvw #FFF, 77dvw 105dvw #FFF, 50dvw 56dvw #FFF, 183dvw 99dvw #FFF, 174dvw 212dvw #FFF, 74dvw 18dvw #FFF, 205dvw 13dvw #FFF, 250dvw 106dvw #FFF, 208dvw 250dvw #FFF, 165dvw 293dvw #FFF, 160dvw 229dvw #FFF, 103dvw 228dvw #FFF, 237dvw 56dvw #FFF, 54dvw 99dvw #FFF, 200dvw 194dvw #FFF, 183dvw 1dvw #FFF, 19dvw 139dvw #FFF, 51dvw 146dvw #FFF, 2dvw 285dvw #FFF, 300dvw 220dvw #FFF, 4dvw 84dvw #FFF, 167dvw 75dvw #FFF, 69dvw 175dvw #FFF, 185dvw 221dvw #FFF, 81dvw 2dvw #FFF, 213dvw 69dvw #FFF, 161dvw 190dvw #FFF, 244dvw 154dvw #FFF, 1dvw 86dvw #FFF, 86dvw 38dvw #FFF, 1dvw 84dvw #FFF, 9dvw 224dvw #FFF, 7dvw 224dvw #FFF, 278dvw 12dvw #FFF, 296dvw 300dvw #FFF, 294dvw 158dvw #FFF, 95dvw 156dvw #FFF, 138dvw 10dvw #FFF, 250dvw 82dvw #FFF, 281dvw 283dvw #FFF, 131dvw 283dvw #FFF, 84dvw 261dvw #FFF, 169dvw 23dvw #FFF, 103dvw 261dvw #FFF, 39dvw 164dvw #FFF, 20dvw 244dvw #FFF, 241dvw 111dvw #FFF, 192dvw 293dvw #FFF, 25dvw 84dvw #FFF, 299dvw 176dvw #FFF, 28dvw 237dvw #FFF, 192dvw 156dvw #FFF, 206dvw 39dvw #FFF, 281dvw 99dvw #FFF, 24dvw 190dvw #FFF, 229dvw 285dvw #FFF, 64dvw 191dvw #FFF, 140dvw 193dvw #FFF, 256dvw 115dvw #FFF, 247dvw 212dvw #FFF, 166dvw 189dvw #FFF, 74dvw 69dvw #FFF, 161dvw 291dvw #FFF, 265dvw 179dvw #FFF, 55dvw 134dvw #FFF, 221dvw 186dvw #FFF, 143dvw 90dvw #FFF, 271dvw 167dvw #FFF, 291dvw 57dvw #FFF, 78dvw 3dvw #FFF, 235dvw 55dvw #FFF, 106dvw 49dvw #FFF, 238dvw 200dvw #FFF, 48dvw 213dvw #FFF, 166dvw 194dvw #FFF, 271dvw 300dvw #FFF, 125dvw 129dvw #FFF, 209dvw 52dvw #FFF, 108dvw 220dvw #FFF, 288dvw 123dvw #FFF, 107dvw 219dvw #FFF, 179dvw 44dvw #FFF, 146dvw 99dvw #FFF, 211dvw 290dvw #FFF, 55dvw 81dvw #FFF, 12dvw 62dvw #FFF, 7dvw 169dvw #FFF, 17dvw 179dvw #FFF, 130dvw 180dvw #FFF, 38dvw 182dvw #FFF, 116dvw 111dvw #FFF, 125dvw 237dvw #FFF, 199dvw 98dvw #FFF, 245dvw 184dvw #FFF, 8dvw 105dvw #FFF, 109dvw 227dvw #FFF, 175dvw 95dvw #FFF, 57dvw 73dvw #FFF, 190dvw 71dvw #FFF, 248dvw 51dvw #FFF, 220dvw 157dvw #FFF, 3dvw 296dvw #FFF, 245dvw 1dvw #FFF, 242dvw 272dvw #FFF, 209dvw 180dvw #FFF, 277dvw 211dvw #FFF, 63dvw 220dvw #FFF, 135dvw 24dvw #FFF, 267dvw 290dvw #FFF, 154dvw 192dvw #FFF, 72dvw 197dvw #FFF, 86dvw 273dvw #FFF, 165dvw 206dvw #FFF, 7dvw 26dvw #FFF, 90dvw 52dvw #FFF, 168dvw 167dvw #FFF, 80dvw 63dvw #FFF, 143dvw 116dvw #FFF, 51dvw 283dvw #FFF, 173dvw 9dvw #FFF, 64dvw 52dvw #FFF, 147dvw 109dvw #FFF, 255dvw 222dvw #FFF, 51dvw 125dvw #FFF, 176dvw 178dvw #FFF, 168dvw 100dvw #FFF, 127dvw 139dvw #FFF, 131dvw 286dvw #FFF, 263dvw 80dvw #FFF, 102dvw 103dvw #FFF, 48dvw 101dvw #FFF, 242dvw 118dvw #FFF, 240dvw 126dvw #FFF, 225dvw 236dvw #FFF, 70dvw 235dvw #FFF, 164dvw 86dvw #FFF, 47dvw 265dvw #FFF, 256dvw 258dvw #FFF, 191dvw 236dvw #FFF, 186dvw 18dvw #FFF, 137dvw 107dvw #FFF, 300dvw 277dvw #FFF, 21dvw 48dvw #FFF, 245dvw 80dvw #FFF, 8dvw 20dvw #FFF, 282dvw 155dvw #FFF, 36dvw 68dvw #FFF, 98dvw 159dvw #FFF, 223dvw 180dvw #FFF, 254dvw 243dvw #FFF, 109dvw 119dvw #FFF, 269dvw 129dvw #FFF, 17dvw 144dvw #FFF, 272dvw 59dvw #FFF, 211dvw 11dvw #FFF, 278dvw 74dvw #FFF, 179dvw 250dvw #FFF, 109dvw 158dvw #FFF, 118dvw 129dvw #FFF, 110dvw 52dvw #FFF, 95dvw 299dvw #FFF, 170dvw 250dvw #FFF, 69dvw 3dvw #FFF, 105dvw 252dvw #FFF, 146dvw 32dvw #FFF, 42dvw 10dvw #FFF, 253dvw 252dvw #FFF, 250dvw 169dvw #FFF, 154dvw 42dvw #FFF, 142dvw 291dvw #FFF, 72dvw 262dvw #FFF, 54dvw 287dvw #FFF, 12dvw 279dvw #FFF, 134dvw 225dvw #FFF, 164dvw 10dvw #FFF, 101dvw 224dvw #FFF, 223dvw 249dvw #FFF, 18dvw 107dvw #FFF, 136dvw 244dvw #FFF, 5dvw 24dvw #FFF, 127dvw 103dvw #FFF, 62dvw 148dvw #FFF, 274dvw 153dvw #FFF, 89dvw 140dvw #FFF, 95dvw 94dvw #FFF, 144dvw 150dvw #FFF, 181dvw 94dvw #FFF, 28dvw 14dvw #FFF, 88dvw 124dvw #FFF, 51dvw 245dvw #FFF, 47dvw 208dvw #FFF, 224dvw 156dvw #FFF, 207dvw 221dvw #FFF, 103dvw 65dvw #FFF, 214dvw 244dvw #FFF, 225dvw 117dvw #FFF, 243dvw 22dvw #FFF, 201dvw 277dvw #FFF, 77dvw 237dvw #FFF, 276dvw 274dvw #FFF, 256dvw 39dvw #FFF, 90dvw 37dvw #FFF, 273dvw 130dvw #FFF, 215dvw 212dvw #FFF, 190dvw 29dvw #FFF, 167dvw 270dvw #FFF, 165dvw 214dvw #FFF, 37dvw 14dvw #FFF, 176dvw 20dvw #FFF, 20dvw 74dvw #FFF, 106dvw 295dvw #FFF, 206dvw 290dvw #FFF, 153dvw 177dvw #FFF, 216dvw 20dvw #FFF, 260dvw 90dvw #FFF, 159dvw 3dvw #FFF, 93dvw 139dvw #FFF, 248dvw 294dvw #FFF, 272dvw 144dvw #FFF, 113dvw 277dvw #FFF, 237dvw 270dvw #FFF, 172dvw 227dvw #FFF, 231dvw 130dvw #FFF, 49dvw 180dvw #FFF, 25dvw 87dvw #FFF, 282dvw 182dvw #FFF, 86dvw 20dvw #FFF, 104dvw 149dvw #FFF, 148dvw 9dvw #FFF, 208dvw 90dvw #FFF, 288dvw 274dvw #FFF, 300dvw 300dvw #FFF, 254dvw 169dvw #FFF, 190dvw 188dvw #FFF, 112dvw 163dvw #FFF, 284dvw 286dvw #FFF, 27dvw 231dvw #FFF, 259dvw 108dvw #FFF, 123dvw 168dvw #FFF, 281dvw 173dvw #FFF, 68dvw 147dvw #FFF, 205dvw 128dvw #FFF, 61dvw 246dvw #FFF, 70dvw 97dvw #FFF, 264dvw 271dvw #FFF, 53dvw 283dvw #FFF, 254dvw 177dvw #FFF, 224dvw 246dvw #FFF, 60dvw 204dvw #FFF, 91dvw 35dvw #FFF, 127dvw 167dvw #FFF, 88dvw 172dvw #FFF, 117dvw 151dvw #FFF, 195dvw 159dvw #FFF, 149dvw 256dvw #FFF, 226dvw 135dvw #FFF, 287dvw 267dvw #FFF, 127dvw 6dvw #FFF, 284dvw 144dvw #FFF, 61dvw 15dvw #FFF, 159dvw 258dvw #FFF, 278dvw 252dvw #FFF, 11dvw 23dvw #FFF, 201dvw 271dvw #FFF, 223dvw 100dvw #FFF, 291dvw 212dvw #FFF, 201dvw 83dvw #FFF, 225dvw 238dvw #FFF, 90dvw 26dvw #FFF, 222dvw 124dvw #FFF, 188dvw 50dvw #FFF, 41dvw 45dvw #FFF, 220dvw 223dvw #FFF, 173dvw 137dvw #FFF, 123dvw 116dvw #FFF, 45dvw 282dvw #FFF, 261dvw 154dvw #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 172dvw 298dvw #FFF, 8dvw 204dvw #FFF, 126dvw 279dvw #FFF, 185dvw 79dvw #FFF, 270dvw 220dvw #FFF, 148dvw 276dvw #FFF, 189dvw 117dvw #FFF, 282dvw 8dvw #FFF, 296dvw 114dvw #FFF, 125dvw 147dvw #FFF, 12dvw 215dvw #FFF, 95dvw 19dvw #FFF, 292dvw 198dvw #FFF, 232dvw 195dvw #FFF, 179dvw 237dvw #FFF, 175dvw 22dvw #FFF, 57dvw 41dvw #FFF, 236dvw 97dvw #FFF, 225dvw 294dvw #FFF, 254dvw 70dvw #FFF, 103dvw 128dvw #FFF, 290dvw 263dvw #FFF, 214dvw 13dvw #FFF, 92dvw 217dvw #FFF, 178dvw 27dvw #FFF, 217dvw 15dvw #FFF, 75dvw 177dvw #FFF, 249dvw 73dvw #FFF, 198dvw 68dvw #FFF, 259dvw 20dvw #FFF, 165dvw 21dvw #FFF, 192dvw 299dvw #FFF, 237dvw 162dvw #FFF, 165dvw 291dvw #FFF, 296dvw 61dvw #FFF, 276dvw 166dvw #FFF, 297dvw 72dvw #FFF, 24dvw 12dvw #FFF, 265dvw 169dvw #FFF, 271dvw 207dvw #FFF, 57dvw 14dvw #FFF, 49dvw 234dvw #FFF, 139dvw 266dvw #FFF, 66dvw 29dvw #FFF, 243dvw 85dvw #FFF, 192dvw 160dvw #FFF, 175dvw 78dvw #FFF, 25dvw 229dvw #FFF, 265dvw 161dvw #FFF, 249dvw 197dvw #FFF, 162dvw 81dvw #FFF, 81dvw 186dvw #FFF, 174dvw 294dvw #FFF, 36dvw 21dvw #FFF, 40dvw 14dvw #FFF, 207dvw 195dvw #FFF, 233dvw 180dvw #FFF, 239dvw 177dvw #FFF, 213dvw 21dvw #FFF, 23dvw 103dvw #FFF, 50dvw 223dvw #FFF, 297dvw 240dvw #FFF, 280dvw 65dvw #FFF, 80dvw 93dvw #FFF, 11dvw 213dvw #FFF, 290dvw 92dvw #FFF, 222dvw 152dvw #FFF, 127dvw 22dvw #FFF, 117dvw 176dvw #FFF, 230dvw 164dvw #FFF, 277dvw 144dvw #FFF, 291dvw 116dvw #FFF, 243dvw 87dvw #FFF, 160dvw 287dvw #FFF, 164dvw 242dvw #FFF, 159dvw 278dvw #FFF, 251dvw 280dvw #FFF, 17dvw 288dvw #FFF, 284dvw 179dvw #FFF, 51dvw 243dvw #FFF, 34dvw 1dvw #FFF, 241dvw 13dvw #FFF, 207dvw 116dvw #FFF, 265dvw 112dvw #FFF, 69dvw 269dvw #FFF, 84dvw 269dvw #FFF, 297dvw 138dvw #FFF, 42dvw 94dvw #FFF, 137dvw 253dvw #FFF, 49dvw 243dvw #FFF, 263dvw 241dvw #FFF, 146dvw 38dvw #FFF, 28dvw 122dvw #FFF, 105dvw 291dvw #FFF, 299dvw 53dvw #FFF, 91dvw 282dvw #FFF, 88dvw 126dvw #FFF, 137dvw 30dvw #FFF, 232dvw 201dvw #FFF, 2dvw 248dvw #FFF, 51dvw 255dvw #FFF, 215dvw 78dvw #FFF, 169dvw 202dvw #FFF, 143dvw 276dvw #FFF, 205dvw 263dvw #FFF, 271dvw 231dvw #FFF, 205dvw 23dvw #FFF, 254dvw 281dvw #FFF, 124dvw 139dvw #FFF, 58dvw 86dvw #FFF, 36dvw 30dvw #FFF, 159dvw 196dvw #FFF, 48dvw 300dvw #FFF, 182dvw 90dvw #FFF, 250dvw 71dvw #FFF, 254dvw 59dvw #FFF, 47dvw 159dvw #FFF, 263dvw 70dvw #FFF, 233dvw 39dvw #FFF, 213dvw 14dvw #FFF, 245dvw 147dvw #FFF, 15dvw 113dvw #FFF, 84dvw 41dvw #FFF, 275dvw 163dvw #FFF, 128dvw 136dvw #FFF, 164dvw 287dvw #FFF, 89dvw 242dvw #FFF, 111dvw 49dvw #FFF, 136dvw 204dvw #FFF, 180dvw 210dvw #FFF, 17dvw 42dvw #FFF, 152dvw 201dvw #FFF, 112dvw 68dvw #FFF, 222dvw 72dvw #FFF, 79dvw 4dvw #FFF, 228dvw 144dvw #FFF, 131dvw 262dvw #FFF, 209dvw 152dvw #FFF, 196dvw 33dvw #FFF, 261dvw 147dvw #FFF, 23dvw 211dvw #FFF, 197dvw 217dvw #FFF, 52dvw 74dvw #FFF, 189dvw 233dvw #FFF, 95dvw 258dvw #FFF, 240dvw 130dvw #FFF, 166dvw 225dvw #FFF, 279dvw 38dvw #FFF, 141dvw 240dvw #FFF, 65dvw 54dvw #FFF, 201dvw 211dvw #FFF, 14dvw 90dvw #FFF, 127dvw 96dvw #FFF, 243dvw 42dvw #FFF, 264dvw 37dvw #FFF, 185dvw 223dvw #FFF, 25dvw 72dvw #FFF, 298dvw 53dvw #FFF, 102dvw 109dvw #FFF, 253dvw 106dvw #FFF, 204dvw 229dvw #FFF, 32dvw 220dvw #FFF, 89dvw 261dvw #FFF, 56dvw 286dvw #FFF, 94dvw 18dvw #FFF, 268dvw 258dvw #FFF, 118dvw 49dvw #FFF, 61dvw 12dvw #FFF, 178dvw 148dvw #FFF, 133dvw 232dvw #FFF, 8dvw 157dvw #FFF, 2dvw 289dvw #FFF, 211dvw 111dvw #FFF, 108dvw 61dvw #FFF, 179dvw 217dvw #FFF, 124dvw 180dvw #FFF, 177dvw 33dvw #FFF, 107dvw 246dvw #FFF, 276dvw 280dvw #FFF, 178dvw 190dvw #FFF, 245dvw 10dvw #FFF, 260dvw 216dvw #FFF, 106dvw 54dvw #FFF, 22dvw 237dvw #FFF, 53dvw 155dvw #FFF, 199dvw 277dvw #FFF, 205dvw 187dvw #FFF, 251dvw 168dvw #FFF, 85dvw 207dvw #FFF, 266dvw 61dvw #FFF, 256dvw 295dvw #FFF, 10dvw 20dvw #FFF, 129dvw 219dvw #FFF, 227dvw 189dvw #FFF, 146dvw 146dvw #FFF, 39dvw 189dvw #FFF, 131dvw 167dvw #FFF, 115dvw 282dvw #FFF, 46dvw 52dvw #FFF, 26dvw 128dvw #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 172dvw 298dvw #FFF, 8dvw 204dvw #FFF, 126dvw 279dvw #FFF, 185dvw 79dvw #FFF, 270dvw 220dvw #FFF, 148dvw 276dvw #FFF, 189dvw 117dvw #FFF, 282dvw 8dvw #FFF, 296dvw 114dvw #FFF, 125dvw 147dvw #FFF, 12dvw 215dvw #FFF, 95dvw 19dvw #FFF, 292dvw 198dvw #FFF, 232dvw 195dvw #FFF, 179dvw 237dvw #FFF, 175dvw 22dvw #FFF, 57dvw 41dvw #FFF, 236dvw 97dvw #FFF, 225dvw 294dvw #FFF, 254dvw 70dvw #FFF, 103dvw 128dvw #FFF, 290dvw 263dvw #FFF, 214dvw 13dvw #FFF, 92dvw 217dvw #FFF, 178dvw 27dvw #FFF, 217dvw 15dvw #FFF, 75dvw 177dvw #FFF, 249dvw 73dvw #FFF, 198dvw 68dvw #FFF, 259dvw 20dvw #FFF, 165dvw 21dvw #FFF, 192dvw 299dvw #FFF, 237dvw 162dvw #FFF, 165dvw 291dvw #FFF, 296dvw 61dvw #FFF, 276dvw 166dvw #FFF, 297dvw 72dvw #FFF, 24dvw 12dvw #FFF, 265dvw 169dvw #FFF, 271dvw 207dvw #FFF, 57dvw 14dvw #FFF, 49dvw 234dvw #FFF, 139dvw 266dvw #FFF, 66dvw 29dvw #FFF, 243dvw 85dvw #FFF, 192dvw 160dvw #FFF, 175dvw 78dvw #FFF, 25dvw 229dvw #FFF, 265dvw 161dvw #FFF, 249dvw 197dvw #FFF, 162dvw 81dvw #FFF, 81dvw 186dvw #FFF, 174dvw 294dvw #FFF, 36dvw 21dvw #FFF, 40dvw 14dvw #FFF, 207dvw 195dvw #FFF, 233dvw 180dvw #FFF, 239dvw 177dvw #FFF, 213dvw 21dvw #FFF, 23dvw 103dvw #FFF, 50dvw 223dvw #FFF, 297dvw 240dvw #FFF, 280dvw 65dvw #FFF, 80dvw 93dvw #FFF, 11dvw 213dvw #FFF, 290dvw 92dvw #FFF, 222dvw 152dvw #FFF, 127dvw 22dvw #FFF, 117dvw 176dvw #FFF, 230dvw 164dvw #FFF, 277dvw 144dvw #FFF, 291dvw 116dvw #FFF, 243dvw 87dvw #FFF, 160dvw 287dvw #FFF, 164dvw 242dvw #FFF, 159dvw 278dvw #FFF, 251dvw 280dvw #FFF, 17dvw 288dvw #FFF, 284dvw 179dvw #FFF, 51dvw 243dvw #FFF, 34dvw 1dvw #FFF, 241dvw 13dvw #FFF, 207dvw 116dvw #FFF, 265dvw 112dvw #FFF, 69dvw 269dvw #FFF, 84dvw 269dvw #FFF, 297dvw 138dvw #FFF, 42dvw 94dvw #FFF, 137dvw 253dvw #FFF, 49dvw 243dvw #FFF, 263dvw 241dvw #FFF, 146dvw 38dvw #FFF, 28dvw 122dvw #FFF, 105dvw 291dvw #FFF, 299dvw 53dvw #FFF, 91dvw 282dvw #FFF, 88dvw 126dvw #FFF, 137dvw 30dvw #FFF, 232dvw 201dvw #FFF, 2dvw 248dvw #FFF, 51dvw 255dvw #FFF, 215dvw 78dvw #FFF, 169dvw 202dvw #FFF, 143dvw 276dvw #FFF, 205dvw 263dvw #FFF, 271dvw 231dvw #FFF, 205dvw 23dvw #FFF, 254dvw 281dvw #FFF, 124dvw 139dvw #FFF, 58dvw 86dvw #FFF, 36dvw 30dvw #FFF, 159dvw 196dvw #FFF, 48dvw 300dvw #FFF, 182dvw 90dvw #FFF, 250dvw 71dvw #FFF, 254dvw 59dvw #FFF, 47dvw 159dvw #FFF, 263dvw 70dvw #FFF, 233dvw 39dvw #FFF, 213dvw 14dvw #FFF, 245dvw 147dvw #FFF, 15dvw 113dvw #FFF, 84dvw 41dvw #FFF, 275dvw 163dvw #FFF, 128dvw 136dvw #FFF, 164dvw 287dvw #FFF, 89dvw 242dvw #FFF, 111dvw 49dvw #FFF, 136dvw 204dvw #FFF, 180dvw 210dvw #FFF, 17dvw 42dvw #FFF, 152dvw 201dvw #FFF, 112dvw 68dvw #FFF, 222dvw 72dvw #FFF, 79dvw 4dvw #FFF, 228dvw 144dvw #FFF, 131dvw 262dvw #FFF, 209dvw 152dvw #FFF, 196dvw 33dvw #FFF, 261dvw 147dvw #FFF, 23dvw 211dvw #FFF, 197dvw 217dvw #FFF, 52dvw 74dvw #FFF, 189dvw 233dvw #FFF, 95dvw 258dvw #FFF, 240dvw 130dvw #FFF, 166dvw 225dvw #FFF, 279dvw 38dvw #FFF, 141dvw 240dvw #FFF, 65dvw 54dvw #FFF, 201dvw 211dvw #FFF, 14dvw 90dvw #FFF, 127dvw 96dvw #FFF, 243dvw 42dvw #FFF, 264dvw 37dvw #FFF, 185dvw 223dvw #FFF, 25dvw 72dvw #FFF, 298dvw 53dvw #FFF, 102dvw 109dvw #FFF, 253dvw 106dvw #FFF, 204dvw 229dvw #FFF, 32dvw 220dvw #FFF, 89dvw 261dvw #FFF, 56dvw 286dvw #FFF, 94dvw 18dvw #FFF, 268dvw 258dvw #FFF, 118dvw 49dvw #FFF, 61dvw 12dvw #FFF, 178dvw 148dvw #FFF, 133dvw 232dvw #FFF, 8dvw 157dvw #FFF, 2dvw 289dvw #FFF, 211dvw 111dvw #FFF, 108dvw 61dvw #FFF, 179dvw 217dvw #FFF, 124dvw 180dvw #FFF, 177dvw 33dvw #FFF, 107dvw 246dvw #FFF, 276dvw 280dvw #FFF, 178dvw 190dvw #FFF, 245dvw 10dvw #FFF, 260dvw 216dvw #FFF, 106dvw 54dvw #FFF, 22dvw 237dvw #FFF, 53dvw 155dvw #FFF, 199dvw 277dvw #FFF, 205dvw 187dvw #FFF, 251dvw 168dvw #FFF, 85dvw 207dvw #FFF, 266dvw 61dvw #FFF, 256dvw 295dvw #FFF, 10dvw 20dvw #FFF, 129dvw 219dvw #FFF, 227dvw 189dvw #FFF, 146dvw 146dvw #FFF, 39dvw 189dvw #FFF, 131dvw 167dvw #FFF, 115dvw 282dvw #FFF, 46dvw 52dvw #FFF, 26dvw 128dvw #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 154dvw 267dvw #FFF, 131dvw 156dvw #FFF, 262dvw 198dvw #FFF, 214dvw 236dvw #FFF, 42dvw 59dvw #FFF, 116dvw 52dvw #FFF, 274dvw 72dvw #FFF, 296dvw 226dvw #FFF, 203dvw 218dvw #FFF, 148dvw 13dvw #FFF, 224dvw 108dvw #FFF, 280dvw 230dvw #FFF, 200dvw 122dvw #FFF, 296dvw 199dvw #FFF, 101dvw 5dvw #FFF, 209dvw 254dvw #FFF, 18dvw 70dvw #FFF, 293dvw 127dvw #FFF, 202dvw 261dvw #FFF, 64dvw 204dvw #FFF, 294dvw 132dvw #FFF, 250dvw 75dvw #FFF, 167dvw 86dvw #FFF, 106dvw 38dvw #FFF, 236dvw 257dvw #FFF, 287dvw 166dvw #FFF, 160dvw 284dvw #FFF, 170dvw 33dvw #FFF, 228dvw 11dvw #FFF, 30dvw 71dvw #FFF, 205dvw 226dvw #FFF, 269dvw 184dvw #FFF, 143dvw 52dvw #FFF, 228dvw 48dvw #FFF, 283dvw 299dvw #FFF, 36dvw 208dvw #FFF, 3dvw 195dvw #FFF, 75dvw 283dvw #FFF, 71dvw 49dvw #FFF, 231dvw 227dvw #FFF, 45dvw 227dvw #FFF, 34dvw 285dvw #FFF, 296dvw 36dvw #FFF, 133dvw 28dvw #FFF, 24dvw 247dvw #FFF, 116dvw 215dvw #FFF, 187dvw 81dvw #FFF, 173dvw 229dvw #FFF, 82dvw 300dvw #FFF, 91dvw 255dvw #FFF, 256dvw 23dvw #FFF, 234dvw 190dvw #FFF, 206dvw 4dvw #FFF, 92dvw 117dvw #FFF, 254dvw 209dvw #FFF, 108dvw 217dvw #FFF, 245dvw 118dvw #FFF, 166dvw 167dvw #FFF, 262dvw 107dvw #FFF, 110dvw 161dvw #FFF, 4dvw 97dvw #FFF, 158dvw 34dvw #FFF, 235dvw 30dvw #FFF, 67dvw 88dvw #FFF, 84dvw 247dvw #FFF, 95dvw 70dvw #FFF, 80dvw 248dvw #FFF, 190dvw 148dvw #FFF, 212dvw 48dvw #FFF, 105dvw 131dvw #FFF, 140dvw 143dvw #FFF, 129dvw 29dvw #FFF, 46dvw 15dvw #FFF, 64dvw 245dvw #FFF, 213dvw 77dvw #FFF, 43dvw 149dvw #FFF, 240dvw 180dvw #FFF, 74dvw 53dvw #FFF, 266dvw 22dvw #FFF, 214dvw 45dvw #FFF, 159dvw 221dvw #FFF, 49dvw 20dvw #FFF, 102dvw 224dvw #FFF, 256dvw 244dvw #FFF, 263dvw 149dvw #FFF, 165dvw 177dvw #FFF, 206dvw 113dvw #FFF, 51dvw 48dvw #FFF, 53dvw 223dvw #FFF, 210dvw 46dvw #FFF, 237dvw 2dvw #FFF, 271dvw 123dvw #FFF, 23dvw 75dvw #FFF, 10dvw 27dvw #FFF, 230dvw 104dvw #FFF, 179dvw 177dvw #FFF, 114dvw 245dvw #FFF, 243dvw 246dvw #FFF, 56dvw 68dvw #FFF, 2dvw 12dvw #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 154dvw 267dvw #FFF, 131dvw 156dvw #FFF, 262dvw 198dvw #FFF, 214dvw 236dvw #FFF, 42dvw 59dvw #FFF, 116dvw 52dvw #FFF, 274dvw 72dvw #FFF, 296dvw 226dvw #FFF, 203dvw 218dvw #FFF, 148dvw 13dvw #FFF, 224dvw 108dvw #FFF, 280dvw 230dvw #FFF, 200dvw 122dvw #FFF, 296dvw 199dvw #FFF, 101dvw 5dvw #FFF, 209dvw 254dvw #FFF, 18dvw 70dvw #FFF, 293dvw 127dvw #FFF, 202dvw 261dvw #FFF, 64dvw 204dvw #FFF, 294dvw 132dvw #FFF, 250dvw 75dvw #FFF, 167dvw 86dvw #FFF, 106dvw 38dvw #FFF, 236dvw 257dvw #FFF, 287dvw 166dvw #FFF, 160dvw 284dvw #FFF, 170dvw 33dvw #FFF, 228dvw 11dvw #FFF, 30dvw 71dvw #FFF, 205dvw 226dvw #FFF, 269dvw 184dvw #FFF, 143dvw 52dvw #FFF, 228dvw 48dvw #FFF, 283dvw 299dvw #FFF, 36dvw 208dvw #FFF, 3dvw 195dvw #FFF, 75dvw 283dvw #FFF, 71dvw 49dvw #FFF, 231dvw 227dvw #FFF, 45dvw 227dvw #FFF, 34dvw 285dvw #FFF, 296dvw 36dvw #FFF, 133dvw 28dvw #FFF, 24dvw 247dvw #FFF, 116dvw 215dvw #FFF, 187dvw 81dvw #FFF, 173dvw 229dvw #FFF, 82dvw 300dvw #FFF, 91dvw 255dvw #FFF, 256dvw 23dvw #FFF, 234dvw 190dvw #FFF, 206dvw 4dvw #FFF, 92dvw 117dvw #FFF, 254dvw 209dvw #FFF, 108dvw 217dvw #FFF, 245dvw 118dvw #FFF, 166dvw 167dvw #FFF, 262dvw 107dvw #FFF, 110dvw 161dvw #FFF, 4dvw 97dvw #FFF, 158dvw 34dvw #FFF, 235dvw 30dvw #FFF, 67dvw 88dvw #FFF, 84dvw 247dvw #FFF, 95dvw 70dvw #FFF, 80dvw 248dvw #FFF, 190dvw 148dvw #FFF, 212dvw 48dvw #FFF, 105dvw 131dvw #FFF, 140dvw 143dvw #FFF, 129dvw 29dvw #FFF, 46dvw 15dvw #FFF, 64dvw 245dvw #FFF, 213dvw 77dvw #FFF, 43dvw 149dvw #FFF, 240dvw 180dvw #FFF, 74dvw 53dvw #FFF, 266dvw 22dvw #FFF, 214dvw 45dvw #FFF, 159dvw 221dvw #FFF, 49dvw 20dvw #FFF, 102dvw 224dvw #FFF, 256dvw 244dvw #FFF, 263dvw 149dvw #FFF, 165dvw 177dvw #FFF, 206dvw 113dvw #FFF, 51dvw 48dvw #FFF, 53dvw 223dvw #FFF, 210dvw 46dvw #FFF, 237dvw 2dvw #FFF, 271dvw 123dvw #FFF, 23dvw 75dvw #FFF, 10dvw 27dvw #FFF, 230dvw 104dvw #FFF, 179dvw 177dvw #FFF, 114dvw 245dvw #FFF, 243dvw 246dvw #FFF, 56dvw 68dvw #FFF, 2dvw 12dvw #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}

/*# sourceMappingURL=style.css.map */
