@charset "UTF-8";
header {
  display: flex;
  width: 100%;
  position: fixed;
  padding-bottom: 5rem;
}

header a {
  text-decoration: none;
  color: white;
}

header h2 {
  margin-left: 1.5rem;
}

header .fa-github {
  margin-left: auto;
  width: 3rem;
  height: 4rem;
  font-size: 1.5rem;
}

.dialog-header {
  all: unset;
}

.info {
  display: flex;
}

.info button {
  margin-left: auto;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}

.right-header {
  display: flex;
  margin-left: auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

@media (max-width: 768px) {
  form {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .menu-active form {
    display: flex;
    width: 100%;
    background-color: #181c25;
    padding: 1rem;
    z-index: 10;
    flex-flow: column;
    border-radius: 5px;
  }
  .menu-active .filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .menu-active .search,
  .menu-active .filters-right {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.8rem;
    margin-left: auto;
  }
}
.cont-scroll {
  overflow-y: scroll;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
}

.game-list {
  gap: 1rem;
  margin-top: 20px;
}

.game-link {
  margin-bottom: 10px;
}
.game-link:last-child {
  margin-bottom: 0;
}

.game-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--muted);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: inherit !important;
  margin-bottom: 0;
  z-index: 1000;
  position: relative;
}
.game-card h3 {
  margin: 0;
}
.game-card p {
  margin: 0.5rem 0;
}

.game-info {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-info p {
  margin: 0.5rem 0;
}
.game-info h3 {
  margin: 0;
}

.game-img {
  border-radius: 1rem;
  width: 10rem;
  height: 6rem;
  max-width: 100%;
  object-fit: fill;
}

.game-image {
  object-fit: cover;
  height: 12rem;
  width: 20rem;
  padding: 1rem;
  border: 1px solid var(--muted) !important;
  border-radius: 2rem !important;
}

.rating-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.game-rating {
  font-weight: bold;
  color: var(--success);
}
.game-rating.gold {
  color: gold;
}
.game-rating.silver {
  color: silver;
}
.game-rating.bronze {
  color: #cd7f32;
}

.rating {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: gray;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.rating-1 {
  background-color: rgb(37, 167, 65);
}

.rating-2 {
  background-color: rgb(146, 255, 56);
}

.rating-3 {
  background-color: rgb(238, 255, 0);
}

.rating-4 {
  background-color: orange;
}

.rating-5 {
  background-color: rgb(233, 58, 58);
}

.icon-dark {
  color: #333;
}

.icon-size {
  font-size: 1.5rem;
}

.rating-table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
}
.rating-table td {
  padding: 0.25rem 0.5rem;
  text-align: center;
}
.rating-table td.rating-text {
  font-size: 0.8rem;
  font-weight: bold;
  padding-right: 0.5rem;
  width: 25%;
}
.rating-table td.rating-icon {
  width: 40%;
}

.device-info p {
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

.device-info strong {
  font-weight: bold;
}

.game-link,
.game-link:link,
.game-link:visited {
  text-decoration: none;
  color: inherit;
  display: block;
}

.game-link:hover .game-card {
  background-color: var(--hover-background);
  color: var(--hover-color);
  border: 1px solid;
}

.opinion-card {
  cursor: default;
}

.games-container {
  max-height: none;
  height: auto;
}

.report-button {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.game-header {
  display: flex; /* Activa Flexbox para organizar los hijos */
  align-items: center; /* Centra verticalmente la imagen, el título y las descripciones */
  justify-content: space-between; /* Empuja el título+imagen a la izquierda y las descripciones a la derecha */
  gap: 1rem; /* Espacio entre los elementos (opcional) */
}

.game-header-left {
  display: flex; /* Agrupa la imagen y el título en un bloque */
  align-items: center; /* Centra verticalmente la imagen con el título */
  gap: 1rem; /* Espacio entre la imagen y el título */
}

body {
  margin: 0;
  padding: 0;
  /*height: 100vh;
  /* overflow: hidden; Evitar scroll global */
  display: flex; /* Flex para manejar el contenido */
  flex-direction: column;
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=73c2f7&c2=1f2139&gt=r&gd=dtt

  background: #73C2F7;
  background: radial-gradient(at center bottom, #73C2F7, #1F2139);*/
}

.rating-descriptions {
  display: flex;
  flex-direction: column;
}

.rating-desc-element {
  display: flex;
  float: right;
}

.rating-desc-element p {
  padding-left: 0.7rem;
  padding-right: 1rem;
}

button {
  background-color: #3A4F7A; /* Azul oscuro complementario */
  color: #fff;
  border: none;
  padding: 0.2rem 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #2F3C5B; /* Azul aún más oscuro para hover */
}

.paging-container {
  display: flex;
}
.paging-container .dg-status-box {
  margin: auto;
  padding: 0;
  min-height: auto;
  margin-bottom: 10px;
}
.paging-container .dg-status-box .pagination {
  background-color: #fff;
  border-radius: 5px;
  padding: 8px 12px;
}
.paging-container .dg-status-box .pagination button {
  margin-bottom: 0;
}
.paging-container .dg-status-box .pagination button[data-index=next]:hover:enabled, .paging-container .dg-status-box .pagination button[data-index=prev]:hover:enabled {
  color: #181c25;
}
.paging-container .dg-status-box .pagination .dg-number-pages button {
  margin-right: 5px;
  width: 55px;
  color: #181c25;
}
.paging-container .dg-status-box .pagination .dg-number-pages button:hover {
  border-color: #181c25;
}
.paging-container .dg-status-box .pagination .dg-number-pages button.active {
  background-color: #181c25;
  border: none;
  color: #fff;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .container h1 {
    margin-top: 10px;
  }
  .game-header {
    padding: 1rem;
    flex-wrap: wrap;
  }
  .game-header .game-header-left {
    width: 100%;
    flex-wrap: wrap;
  }
  .game-header .game-header-left .game-image {
    width: 50%;
    padding: 0;
    height: auto;
    border-radius: 1rem !important;
  }
}
@media screen and (max-width: 480px) {
  body {
    overflow: scroll;
    background-repeat: repeat;
    height: auto;
    min-height: 100vh;
  }
  .container {
    max-width: 100%;
    padding: 0 15px;
    max-height: none;
    overflow-y: unset;
  }
  .game-header .game-header-left .game-image {
    width: 100%;
  }
  .game-card {
    flex-wrap: wrap;
    padding: 0.5rem;
  }
  .game-card .game-img {
    width: 100%;
    height: auto;
  }
  .game-card .game-info {
    display: block;
    min-width: 100%;
  }
  .game-card .game-info h3 {
    padding-left: 0.5rem;
  }
  .game-card .game-info td {
    padding-left: 0;
  }
  .report-button {
    font-size: 1rem;
    border-radius: 0;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
  }
}
#pagination {
  display: flex;
  flex-wrap: wrap;
}
#pagination .page-item {
  cursor: pointer;
  min-width: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
}

.user-content {
  display: flex;
  align-items: center;
}

.user-content img {
  border-radius: 50%;
  height: 2.5rem;
}

.user-content a {
  margin-left: 0.5rem;
  text-decoration: none;
}

.info-card {
  background: rgba(32, 36, 47, 0.6);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

.search input {
  width: 100%; /* Ajusta el tamaño del campo de búsqueda */
  padding: 0.3rem;
  font-size: 0.8rem;
  height: 1.8rem;
  border-radius: 5px;
}

.search button {
  margin-bottom: 0.95rem;
  height: 1.81rem;
}

.filters-right {
  display: flex;
  gap: 0.3rem;
  margin-left: 5rem;
}

.filters-right select {
  font-size: 0.8rem; /* Tamaño más pequeño */
  padding: 0.3rem;
}

.links {
  display: flex;
  gap: 15px; /* Espaciado entre enlaces */
  flex-wrap: wrap; /* Para que se ajusten si el espacio es pequeño */
}

.links a {
  text-decoration: none;
  color: #007BFF; /* Color del enlace */
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #007BFF;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
  background-color: #007BFF;
  color: #fff; /* Color del texto al pasar el cursor */
}

html {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #3e444b 0%, #090A0F 100%);
  overflow: hidden;
}

#stars, #stars2, #stars3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 82vw 81vw #FFF, 76vw 24vw #FFF, 69vw 71vw #FFF, 9vw 70vw #FFF, 24vw 58vw #FFF, 32vw 41vw #FFF, 26vw 73vw #FFF, 37vw 61vw #FFF, 89vw 4vw #FFF, 25vw 19vw #FFF, 86vw 4vw #FFF, 85vw 96vw #FFF, 15vw 80vw #FFF, 61vw 36vw #FFF, 42vw 45vw #FFF, 55vw 91vw #FFF, 29vw 3vw #FFF, 79vw 7vw #FFF, 65vw 15vw #FFF, 25vw 7vw #FFF, 96vw 39vw #FFF, 44vw 50vw #FFF, 27vw 86vw #FFF, 23vw 50vw #FFF, 96vw 94vw #FFF, 100vw 13vw #FFF, 52vw 65vw #FFF, 53vw 7vw #FFF, 31vw 23vw #FFF, 100vw 91vw #FFF, 27vw 50vw #FFF, 54vw 64vw #FFF, 85vw 91vw #FFF, 58vw 47vw #FFF, 70vw 42vw #FFF, 64vw 11vw #FFF, 89vw 81vw #FFF, 13vw 90vw #FFF, 92vw 11vw #FFF, 72vw 71vw #FFF, 97vw 17vw #FFF, 26vw 78vw #FFF, 58vw 99vw #FFF, 15vw 5vw #FFF, 80vw 91vw #FFF, 29vw 86vw #FFF, 38vw 69vw #FFF, 51vw 66vw #FFF, 97vw 6vw #FFF, 6vw 15vw #FFF, 12vw 19vw #FFF, 54vw 50vw #FFF, 24vw 53vw #FFF, 75vw 15vw #FFF, 52vw 3vw #FFF, 64vw 74vw #FFF, 29vw 65vw #FFF, 55vw 34vw #FFF, 87vw 57vw #FFF, 30vw 46vw #FFF, 19vw 52vw #FFF, 96vw 36vw #FFF, 100vw 62vw #FFF, 85vw 8vw #FFF, 91vw 91vw #FFF, 51vw 30vw #FFF, 90vw 9vw #FFF, 52vw 93vw #FFF, 51vw 28vw #FFF, 73vw 67vw #FFF, 65vw 76vw #FFF, 21vw 90vw #FFF, 24vw 4vw #FFF, 70vw 56vw #FFF, 30vw 38vw #FFF, 67vw 15vw #FFF, 45vw 44vw #FFF, 79vw 46vw #FFF, 11vw 67vw #FFF, 51vw 10vw #FFF, 80vw 84vw #FFF, 71vw 57vw #FFF, 22vw 91vw #FFF, 71vw 55vw #FFF, 86vw 45vw #FFF, 38vw 61vw #FFF, 94vw 6vw #FFF, 31vw 78vw #FFF, 67vw 44vw #FFF, 76vw 40vw #FFF, 62vw 93vw #FFF, 78vw 50vw #FFF, 94vw 48vw #FFF, 52vw 30vw #FFF, 54vw 56vw #FFF, 3vw 6vw #FFF, 23vw 65vw #FFF, 88vw 80vw #FFF, 24vw 42vw #FFF, 19vw 87vw #FFF, 75vw 67vw #FFF, 95vw 96vw #FFF, 23vw 64vw #FFF, 8vw 13vw #FFF, 80vw 42vw #FFF, 78vw 30vw #FFF, 18vw 91vw #FFF, 71vw 94vw #FFF, 23vw 31vw #FFF, 12vw 95vw #FFF, 4vw 32vw #FFF, 71vw 4vw #FFF, 73vw 46vw #FFF, 99vw 52vw #FFF, 41vw 34vw #FFF, 31vw 94vw #FFF, 13vw 6vw #FFF, 31vw 5vw #FFF, 33vw 62vw #FFF, 73vw 74vw #FFF, 27vw 14vw #FFF, 13vw 49vw #FFF, 45vw 27vw #FFF, 63vw 15vw #FFF, 90vw 71vw #FFF, 62vw 73vw #FFF, 66vw 31vw #FFF, 7vw 23vw #FFF, 25vw 3vw #FFF, 42vw 28vw #FFF, 79vw 19vw #FFF, 13vw 96vw #FFF, 50vw 74vw #FFF, 42vw 70vw #FFF, 78vw 100vw #FFF, 77vw 77vw #FFF, 34vw 45vw #FFF, 76vw 48vw #FFF, 66vw 58vw #FFF, 66vw 52vw #FFF, 32vw 69vw #FFF, 46vw 76vw #FFF, 54vw 8vw #FFF, 10vw 22vw #FFF, 99vw 73vw #FFF, 100vw 6vw #FFF, 93vw 34vw #FFF, 9vw 9vw #FFF, 99vw 78vw #FFF, 17vw 9vw #FFF, 16vw 97vw #FFF, 27vw 74vw #FFF, 41vw 73vw #FFF, 63vw 45vw #FFF, 57vw 94vw #FFF, 89vw 63vw #FFF, 34vw 55vw #FFF, 57vw 4vw #FFF, 15vw 70vw #FFF, 4vw 58vw #FFF, 92vw 27vw #FFF, 41vw 71vw #FFF, 6vw 34vw #FFF, 77vw 66vw #FFF, 11vw 13vw #FFF, 83vw 67vw #FFF, 33vw 17vw #FFF, 53vw 56vw #FFF, 62vw 71vw #FFF, 6vw 44vw #FFF, 9vw 98vw #FFF, 91vw 64vw #FFF, 78vw 35vw #FFF, 59vw 26vw #FFF, 20vw 54vw #FFF, 31vw 79vw #FFF, 9vw 91vw #FFF, 46vw 15vw #FFF, 46vw 20vw #FFF, 52vw 1vw #FFF, 90vw 54vw #FFF, 76vw 49vw #FFF, 14vw 34vw #FFF, 51vw 47vw #FFF, 99vw 83vw #FFF, 94vw 63vw #FFF, 24vw 83vw #FFF, 44vw 18vw #FFF, 78vw 98vw #FFF, 74vw 97vw #FFF, 63vw 38vw #FFF, 28vw 10vw #FFF, 21vw 18vw #FFF, 30vw 43vw #FFF, 44vw 53vw #FFF, 32vw 88vw #FFF, 15vw 43vw #FFF, 98vw 69vw #FFF, 23vw 70vw #FFF, 4vw 57vw #FFF, 57vw 50vw #FFF, 76vw 52vw #FFF, 27vw 25vw #FFF, 20vw 52vw #FFF, 68vw 98vw #FFF, 14vw 99vw #FFF, 98vw 45vw #FFF, 32vw 49vw #FFF, 55vw 72vw #FFF, 22vw 67vw #FFF, 67vw 38vw #FFF, 96vw 38vw #FFF, 69vw 54vw #FFF, 41vw 52vw #FFF, 36vw 63vw #FFF, 9vw 35vw #FFF, 90vw 77vw #FFF, 99vw 50vw #FFF, 55vw 3vw #FFF, 88vw 95vw #FFF, 2vw 46vw #FFF, 33vw 45vw #FFF, 52vw 49vw #FFF, 44vw 71vw #FFF, 56vw 21vw #FFF, 26vw 79vw #FFF, 65vw 5vw #FFF, 38vw 50vw #FFF, 53vw 45vw #FFF, 46vw 98vw #FFF, 98vw 54vw #FFF, 66vw 96vw #FFF, 25vw 56vw #FFF, 58vw 92vw #FFF, 56vw 10vw #FFF, 84vw 81vw #FFF, 35vw 61vw #FFF, 13vw 80vw #FFF, 81vw 58vw #FFF, 94vw 86vw #FFF, 7vw 43vw #FFF, 65vw 30vw #FFF, 9vw 10vw #FFF, 16vw 94vw #FFF, 73vw 36vw #FFF, 81vw 14vw #FFF, 54vw 29vw #FFF, 3vw 76vw #FFF, 47vw 63vw #FFF, 12vw 19vw #FFF, 83vw 59vw #FFF, 33vw 79vw #FFF, 6vw 51vw #FFF, 7vw 36vw #FFF, 38vw 15vw #FFF, 26vw 86vw #FFF, 17vw 4vw #FFF, 29vw 60vw #FFF, 65vw 46vw #FFF, 14vw 44vw #FFF, 95vw 85vw #FFF, 42vw 23vw #FFF, 82vw 65vw #FFF, 95vw 1vw #FFF, 34vw 24vw #FFF, 26vw 78vw #FFF, 74vw 55vw #FFF, 23vw 41vw #FFF, 92vw 99vw #FFF, 6vw 29vw #FFF, 26vw 29vw #FFF, 91vw 5vw #FFF, 79vw 12vw #FFF, 19vw 82vw #FFF, 22vw 42vw #FFF, 27vw 34vw #FFF, 10vw 39vw #FFF, 26vw 34vw #FFF, 19vw 90vw #FFF, 17vw 85vw #FFF, 2vw 58vw #FFF, 6vw 43vw #FFF, 58vw 19vw #FFF, 89vw 23vw #FFF, 61vw 63vw #FFF, 58vw 4vw #FFF, 85vw 1vw #FFF, 62vw 50vw #FFF, 35vw 76vw #FFF, 52vw 86vw #FFF, 2vw 45vw #FFF, 92vw 19vw #FFF, 55vw 80vw #FFF, 54vw 2vw #FFF, 98vw 10vw #FFF, 42vw 17vw #FFF, 44vw 55vw #FFF, 17vw 56vw #FFF, 23vw 82vw #FFF, 38vw 28vw #FFF, 95vw 68vw #FFF, 20vw 72vw #FFF, 42vw 11vw #FFF, 73vw 96vw #FFF, 19vw 47vw #FFF, 100vw 30vw #FFF, 65vw 57vw #FFF, 67vw 39vw #FFF, 19vw 55vw #FFF, 75vw 8vw #FFF, 99vw 59vw #FFF, 10vw 87vw #FFF, 1vw 50vw #FFF, 90vw 33vw #FFF, 20vw 80vw #FFF, 99vw 68vw #FFF, 71vw 77vw #FFF, 16vw 55vw #FFF, 48vw 35vw #FFF, 67vw 39vw #FFF, 54vw 32vw #FFF, 85vw 66vw #FFF, 24vw 32vw #FFF, 24vw 33vw #FFF, 74vw 74vw #FFF, 15vw 45vw #FFF, 94vw 40vw #FFF, 72vw 99vw #FFF, 65vw 94vw #FFF, 60vw 44vw #FFF, 74vw 76vw #FFF, 26vw 1vw #FFF, 86vw 52vw #FFF, 49vw 82vw #FFF, 35vw 3vw #FFF, 52vw 94vw #FFF, 84vw 69vw #FFF, 8vw 71vw #FFF, 87vw 94vw #FFF, 41vw 53vw #FFF, 10vw 22vw #FFF, 84vw 18vw #FFF, 31vw 22vw #FFF, 99vw 53vw #FFF, 29vw 93vw #FFF, 80vw 84vw #FFF, 35vw 94vw #FFF, 64vw 20vw #FFF, 27vw 3vw #FFF, 62vw 86vw #FFF, 94vw 3vw #FFF, 86vw 70vw #FFF, 82vw 80vw #FFF, 61vw 78vw #FFF, 64vw 9vw #FFF, 61vw 27vw #FFF, 87vw 54vw #FFF, 3vw 13vw #FFF, 44vw 21vw #FFF, 3vw 100vw #FFF, 44vw 51vw #FFF, 86vw 47vw #FFF, 95vw 78vw #FFF, 49vw 6vw #FFF, 74vw 82vw #FFF, 84vw 28vw #FFF, 89vw 71vw #FFF, 91vw 11vw #FFF, 98vw 64vw #FFF, 22vw 85vw #FFF, 6vw 92vw #FFF, 3vw 1vw #FFF, 54vw 90vw #FFF, 25vw 46vw #FFF, 66vw 40vw #FFF, 60vw 26vw #FFF, 97vw 16vw #FFF, 26vw 18vw #FFF, 90vw 100vw #FFF, 1vw 39vw #FFF, 13vw 40vw #FFF, 29vw 17vw #FFF, 4vw 60vw #FFF, 1vw 96vw #FFF, 65vw 5vw #FFF, 78vw 64vw #FFF, 44vw 88vw #FFF, 34vw 94vw #FFF, 54vw 24vw #FFF, 80vw 72vw #FFF, 9vw 53vw #FFF, 84vw 59vw #FFF, 13vw 51vw #FFF, 39vw 82vw #FFF, 10vw 52vw #FFF, 79vw 26vw #FFF, 79vw 6vw #FFF, 37vw 93vw #FFF, 62vw 94vw #FFF, 45vw 60vw #FFF, 63vw 83vw #FFF, 38vw 98vw #FFF, 98vw 68vw #FFF, 53vw 58vw #FFF, 74vw 29vw #FFF, 99vw 29vw #FFF, 95vw 86vw #FFF, 26vw 87vw #FFF, 71vw 43vw #FFF, 46vw 4vw #FFF, 43vw 92vw #FFF, 41vw 89vw #FFF, 63vw 92vw #FFF, 26vw 85vw #FFF, 58vw 75vw #FFF, 39vw 78vw #FFF, 89vw 76vw #FFF, 20vw 65vw #FFF, 27vw 80vw #FFF, 90vw 12vw #FFF, 5vw 67vw #FFF, 61vw 45vw #FFF, 49vw 85vw #FFF, 80vw 71vw #FFF, 66vw 59vw #FFF, 2vw 21vw #FFF, 1vw 78vw #FFF, 99vw 88vw #FFF, 83vw 57vw #FFF, 87vw 56vw #FFF, 40vw 91vw #FFF, 13vw 49vw #FFF, 88vw 57vw #FFF, 74vw 54vw #FFF, 68vw 62vw #FFF, 34vw 80vw #FFF, 12vw 95vw #FFF, 80vw 21vw #FFF, 85vw 55vw #FFF, 71vw 42vw #FFF, 74vw 81vw #FFF, 15vw 31vw #FFF, 3vw 23vw #FFF, 16vw 7vw #FFF, 33vw 42vw #FFF, 3vw 59vw #FFF, 90vw 54vw #FFF, 99vw 93vw #FFF, 92vw 93vw #FFF, 37vw 61vw #FFF, 46vw 5vw #FFF, 32vw 88vw #FFF, 20vw 90vw #FFF, 46vw 54vw #FFF, 10vw 73vw #FFF, 86vw 63vw #FFF, 38vw 14vw #FFF, 27vw 13vw #FFF, 66vw 43vw #FFF, 95vw 38vw #FFF, 10vw 45vw #FFF, 9vw 75vw #FFF, 53vw 67vw #FFF, 49vw 84vw #FFF, 29vw 66vw #FFF, 26vw 100vw #FFF, 76vw 41vw #FFF, 39vw 75vw #FFF, 23vw 2vw #FFF, 21vw 6vw #FFF, 41vw 30vw #FFF, 61vw 95vw #FFF, 73vw 32vw #FFF, 54vw 81vw #FFF, 62vw 64vw #FFF, 21vw 98vw #FFF, 18vw 23vw #FFF, 79vw 53vw #FFF, 43vw 21vw #FFF, 45vw 49vw #FFF, 40vw 18vw #FFF, 61vw 75vw #FFF, 76vw 50vw #FFF, 86vw 15vw #FFF, 2vw 17vw #FFF, 70vw 2vw #FFF, 31vw 63vw #FFF, 83vw 91vw #FFF, 94vw 71vw #FFF, 87vw 73vw #FFF, 58vw 20vw #FFF, 5vw 1vw #FFF, 1vw 83vw #FFF, 32vw 23vw #FFF, 59vw 100vw #FFF, 11vw 51vw #FFF, 19vw 69vw #FFF, 30vw 10vw #FFF, 62vw 9vw #FFF, 57vw 2vw #FFF, 59vw 41vw #FFF, 87vw 21vw #FFF, 42vw 39vw #FFF, 9vw 98vw #FFF, 13vw 62vw #FFF, 57vw 60vw #FFF, 60vw 65vw #FFF, 59vw 87vw #FFF, 50vw 41vw #FFF, 21vw 89vw #FFF, 57vw 1vw #FFF, 37vw 95vw #FFF, 72vw 23vw #FFF, 28vw 19vw #FFF, 86vw 25vw #FFF, 44vw 33vw #FFF, 2vw 89vw #FFF, 12vw 4vw #FFF, 33vw 22vw #FFF, 17vw 76vw #FFF, 77vw 22vw #FFF, 58vw 31vw #FFF, 97vw 49vw #FFF, 66vw 40vw #FFF, 37vw 70vw #FFF, 44vw 43vw #FFF, 76vw 66vw #FFF, 59vw 54vw #FFF, 59vw 96vw #FFF, 98vw 51vw #FFF, 58vw 6vw #FFF, 97vw 65vw #FFF, 66vw 42vw #FFF, 62vw 74vw #FFF, 44vw 26vw #FFF, 70vw 2vw #FFF, 13vw 18vw #FFF, 2vw 8vw #FFF, 100vw 89vw #FFF, 61vw 3vw #FFF, 6vw 4vw #FFF, 44vw 13vw #FFF, 34vw 14vw #FFF, 70vw 83vw #FFF, 88vw 60vw #FFF, 51vw 37vw #FFF, 77vw 74vw #FFF, 15vw 53vw #FFF, 93vw 30vw #FFF, 53vw 24vw #FFF, 59vw 95vw #FFF, 44vw 30vw #FFF, 10vw 86vw #FFF, 12vw 50vw #FFF, 35vw 37vw #FFF, 99vw 87vw #FFF, 27vw 46vw #FFF, 91vw 85vw #FFF, 89vw 65vw #FFF, 51vw 23vw #FFF, 55vw 58vw #FFF, 50vw 10vw #FFF, 55vw 84vw #FFF, 84vw 38vw #FFF, 62vw 61vw #FFF, 55vw 26vw #FFF, 34vw 43vw #FFF, 97vw 51vw #FFF, 6vw 78vw #FFF, 23vw 8vw #FFF, 58vw 37vw #FFF, 81vw 59vw #FFF, 58vw 29vw #FFF, 100vw 53vw #FFF, 19vw 29vw #FFF, 38vw 91vw #FFF, 30vw 44vw #FFF, 95vw 70vw #FFF, 8vw 68vw #FFF, 22vw 54vw #FFF, 18vw 72vw #FFF, 2vw 63vw #FFF, 5vw 31vw #FFF, 84vw 66vw #FFF, 100vw 55vw #FFF, 55vw 72vw #FFF, 66vw 81vw #FFF, 27vw 80vw #FFF, 12vw 73vw #FFF, 30vw 73vw #FFF, 31vw 54vw #FFF, 62vw 11vw #FFF, 49vw 3vw #FFF, 88vw 23vw #FFF, 68vw 100vw #FFF, 34vw 15vw #FFF, 97vw 95vw #FFF, 41vw 64vw #FFF, 57vw 20vw #FFF, 77vw 26vw #FFF, 52vw 58vw #FFF, 40vw 85vw #FFF, 45vw 83vw #FFF, 71vw 21vw #FFF, 84vw 44vw #FFF, 12vw 71vw #FFF, 5vw 35vw #FFF, 40vw 67vw #FFF, 71vw 41vw #FFF, 78vw 91vw #FFF, 59vw 85vw #FFF, 38vw 71vw #FFF, 32vw 39vw #FFF, 95vw 95vw #FFF, 73vw 76vw #FFF, 10vw 59vw #FFF, 45vw 76vw #FFF, 25vw 50vw #FFF, 80vw 27vw #FFF, 52vw 77vw #FFF, 25vw 74vw #FFF, 39vw 53vw #FFF, 45vw 57vw #FFF, 79vw 58vw #FFF, 46vw 52vw #FFF, 16vw 89vw #FFF, 92vw 21vw #FFF, 6vw 40vw #FFF, 100vw 24vw #FFF, 74vw 50vw #FFF, 4vw 24vw #FFF, 80vw 92vw #FFF, 92vw 76vw #FFF, 98vw 16vw #FFF, 22vw 36vw #FFF, 93vw 85vw #FFF, 28vw 34vw #FFF, 68vw 42vw #FFF, 27vw 19vw #FFF, 76vw 89vw #FFF, 67vw 17vw #FFF, 4vw 38vw #FFF, 71vw 82vw #FFF, 2vw 10vw #FFF, 61vw 80vw #FFF, 1vw 41vw #FFF, 81vw 1vw #FFF, 76vw 58vw #FFF, 78vw 24vw #FFF, 92vw 47vw #FFF, 7vw 62vw #FFF, 24vw 39vw #FFF, 77vw 73vw #FFF, 45vw 61vw #FFF, 53vw 60vw #FFF, 92vw 94vw #FFF, 22vw 31vw #FFF, 36vw 2vw #FFF, 35vw 7vw #FFF, 18vw 58vw #FFF, 94vw 51vw #FFF, 27vw 78vw #FFF, 52vw 60vw #FFF, 15vw 15vw #FFF, 65vw 55vw #FFF, 100vw 24vw #FFF, 10vw 24vw #FFF, 61vw 14vw #FFF, 46vw 100vw #FFF, 7vw 62vw #FFF, 49vw 77vw #FFF, 51vw 19vw #FFF, 6vw 87vw #FFF, 44vw 83vw #FFF, 25vw 61vw #FFF, 88vw 84vw #FFF, 16vw 12vw #FFF, 2vw 22vw #FFF, 53vw 21vw #FFF, 77vw 70vw #FFF, 1vw 58vw #FFF, 81vw 9vw #FFF, 34vw 84vw #FFF, 60vw 54vw #FFF, 95vw 35vw #FFF, 99vw 8vw #FFF, 71vw 32vw #FFF, 54vw 8vw #FFF, 56vw 66vw #FFF, 18vw 20vw #FFF, 15vw 94vw #FFF, 98vw 1vw #FFF, 10vw 56vw #FFF, 90vw 54vw #FFF, 34vw 46vw #FFF, 20vw 82vw #FFF, 49vw 97vw #FFF, 3vw 45vw #FFF, 56vw 100vw #FFF, 21vw 62vw #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 82vw 81vw #FFF, 76vw 24vw #FFF, 69vw 71vw #FFF, 9vw 70vw #FFF, 24vw 58vw #FFF, 32vw 41vw #FFF, 26vw 73vw #FFF, 37vw 61vw #FFF, 89vw 4vw #FFF, 25vw 19vw #FFF, 86vw 4vw #FFF, 85vw 96vw #FFF, 15vw 80vw #FFF, 61vw 36vw #FFF, 42vw 45vw #FFF, 55vw 91vw #FFF, 29vw 3vw #FFF, 79vw 7vw #FFF, 65vw 15vw #FFF, 25vw 7vw #FFF, 96vw 39vw #FFF, 44vw 50vw #FFF, 27vw 86vw #FFF, 23vw 50vw #FFF, 96vw 94vw #FFF, 100vw 13vw #FFF, 52vw 65vw #FFF, 53vw 7vw #FFF, 31vw 23vw #FFF, 100vw 91vw #FFF, 27vw 50vw #FFF, 54vw 64vw #FFF, 85vw 91vw #FFF, 58vw 47vw #FFF, 70vw 42vw #FFF, 64vw 11vw #FFF, 89vw 81vw #FFF, 13vw 90vw #FFF, 92vw 11vw #FFF, 72vw 71vw #FFF, 97vw 17vw #FFF, 26vw 78vw #FFF, 58vw 99vw #FFF, 15vw 5vw #FFF, 80vw 91vw #FFF, 29vw 86vw #FFF, 38vw 69vw #FFF, 51vw 66vw #FFF, 97vw 6vw #FFF, 6vw 15vw #FFF, 12vw 19vw #FFF, 54vw 50vw #FFF, 24vw 53vw #FFF, 75vw 15vw #FFF, 52vw 3vw #FFF, 64vw 74vw #FFF, 29vw 65vw #FFF, 55vw 34vw #FFF, 87vw 57vw #FFF, 30vw 46vw #FFF, 19vw 52vw #FFF, 96vw 36vw #FFF, 100vw 62vw #FFF, 85vw 8vw #FFF, 91vw 91vw #FFF, 51vw 30vw #FFF, 90vw 9vw #FFF, 52vw 93vw #FFF, 51vw 28vw #FFF, 73vw 67vw #FFF, 65vw 76vw #FFF, 21vw 90vw #FFF, 24vw 4vw #FFF, 70vw 56vw #FFF, 30vw 38vw #FFF, 67vw 15vw #FFF, 45vw 44vw #FFF, 79vw 46vw #FFF, 11vw 67vw #FFF, 51vw 10vw #FFF, 80vw 84vw #FFF, 71vw 57vw #FFF, 22vw 91vw #FFF, 71vw 55vw #FFF, 86vw 45vw #FFF, 38vw 61vw #FFF, 94vw 6vw #FFF, 31vw 78vw #FFF, 67vw 44vw #FFF, 76vw 40vw #FFF, 62vw 93vw #FFF, 78vw 50vw #FFF, 94vw 48vw #FFF, 52vw 30vw #FFF, 54vw 56vw #FFF, 3vw 6vw #FFF, 23vw 65vw #FFF, 88vw 80vw #FFF, 24vw 42vw #FFF, 19vw 87vw #FFF, 75vw 67vw #FFF, 95vw 96vw #FFF, 23vw 64vw #FFF, 8vw 13vw #FFF, 80vw 42vw #FFF, 78vw 30vw #FFF, 18vw 91vw #FFF, 71vw 94vw #FFF, 23vw 31vw #FFF, 12vw 95vw #FFF, 4vw 32vw #FFF, 71vw 4vw #FFF, 73vw 46vw #FFF, 99vw 52vw #FFF, 41vw 34vw #FFF, 31vw 94vw #FFF, 13vw 6vw #FFF, 31vw 5vw #FFF, 33vw 62vw #FFF, 73vw 74vw #FFF, 27vw 14vw #FFF, 13vw 49vw #FFF, 45vw 27vw #FFF, 63vw 15vw #FFF, 90vw 71vw #FFF, 62vw 73vw #FFF, 66vw 31vw #FFF, 7vw 23vw #FFF, 25vw 3vw #FFF, 42vw 28vw #FFF, 79vw 19vw #FFF, 13vw 96vw #FFF, 50vw 74vw #FFF, 42vw 70vw #FFF, 78vw 100vw #FFF, 77vw 77vw #FFF, 34vw 45vw #FFF, 76vw 48vw #FFF, 66vw 58vw #FFF, 66vw 52vw #FFF, 32vw 69vw #FFF, 46vw 76vw #FFF, 54vw 8vw #FFF, 10vw 22vw #FFF, 99vw 73vw #FFF, 100vw 6vw #FFF, 93vw 34vw #FFF, 9vw 9vw #FFF, 99vw 78vw #FFF, 17vw 9vw #FFF, 16vw 97vw #FFF, 27vw 74vw #FFF, 41vw 73vw #FFF, 63vw 45vw #FFF, 57vw 94vw #FFF, 89vw 63vw #FFF, 34vw 55vw #FFF, 57vw 4vw #FFF, 15vw 70vw #FFF, 4vw 58vw #FFF, 92vw 27vw #FFF, 41vw 71vw #FFF, 6vw 34vw #FFF, 77vw 66vw #FFF, 11vw 13vw #FFF, 83vw 67vw #FFF, 33vw 17vw #FFF, 53vw 56vw #FFF, 62vw 71vw #FFF, 6vw 44vw #FFF, 9vw 98vw #FFF, 91vw 64vw #FFF, 78vw 35vw #FFF, 59vw 26vw #FFF, 20vw 54vw #FFF, 31vw 79vw #FFF, 9vw 91vw #FFF, 46vw 15vw #FFF, 46vw 20vw #FFF, 52vw 1vw #FFF, 90vw 54vw #FFF, 76vw 49vw #FFF, 14vw 34vw #FFF, 51vw 47vw #FFF, 99vw 83vw #FFF, 94vw 63vw #FFF, 24vw 83vw #FFF, 44vw 18vw #FFF, 78vw 98vw #FFF, 74vw 97vw #FFF, 63vw 38vw #FFF, 28vw 10vw #FFF, 21vw 18vw #FFF, 30vw 43vw #FFF, 44vw 53vw #FFF, 32vw 88vw #FFF, 15vw 43vw #FFF, 98vw 69vw #FFF, 23vw 70vw #FFF, 4vw 57vw #FFF, 57vw 50vw #FFF, 76vw 52vw #FFF, 27vw 25vw #FFF, 20vw 52vw #FFF, 68vw 98vw #FFF, 14vw 99vw #FFF, 98vw 45vw #FFF, 32vw 49vw #FFF, 55vw 72vw #FFF, 22vw 67vw #FFF, 67vw 38vw #FFF, 96vw 38vw #FFF, 69vw 54vw #FFF, 41vw 52vw #FFF, 36vw 63vw #FFF, 9vw 35vw #FFF, 90vw 77vw #FFF, 99vw 50vw #FFF, 55vw 3vw #FFF, 88vw 95vw #FFF, 2vw 46vw #FFF, 33vw 45vw #FFF, 52vw 49vw #FFF, 44vw 71vw #FFF, 56vw 21vw #FFF, 26vw 79vw #FFF, 65vw 5vw #FFF, 38vw 50vw #FFF, 53vw 45vw #FFF, 46vw 98vw #FFF, 98vw 54vw #FFF, 66vw 96vw #FFF, 25vw 56vw #FFF, 58vw 92vw #FFF, 56vw 10vw #FFF, 84vw 81vw #FFF, 35vw 61vw #FFF, 13vw 80vw #FFF, 81vw 58vw #FFF, 94vw 86vw #FFF, 7vw 43vw #FFF, 65vw 30vw #FFF, 9vw 10vw #FFF, 16vw 94vw #FFF, 73vw 36vw #FFF, 81vw 14vw #FFF, 54vw 29vw #FFF, 3vw 76vw #FFF, 47vw 63vw #FFF, 12vw 19vw #FFF, 83vw 59vw #FFF, 33vw 79vw #FFF, 6vw 51vw #FFF, 7vw 36vw #FFF, 38vw 15vw #FFF, 26vw 86vw #FFF, 17vw 4vw #FFF, 29vw 60vw #FFF, 65vw 46vw #FFF, 14vw 44vw #FFF, 95vw 85vw #FFF, 42vw 23vw #FFF, 82vw 65vw #FFF, 95vw 1vw #FFF, 34vw 24vw #FFF, 26vw 78vw #FFF, 74vw 55vw #FFF, 23vw 41vw #FFF, 92vw 99vw #FFF, 6vw 29vw #FFF, 26vw 29vw #FFF, 91vw 5vw #FFF, 79vw 12vw #FFF, 19vw 82vw #FFF, 22vw 42vw #FFF, 27vw 34vw #FFF, 10vw 39vw #FFF, 26vw 34vw #FFF, 19vw 90vw #FFF, 17vw 85vw #FFF, 2vw 58vw #FFF, 6vw 43vw #FFF, 58vw 19vw #FFF, 89vw 23vw #FFF, 61vw 63vw #FFF, 58vw 4vw #FFF, 85vw 1vw #FFF, 62vw 50vw #FFF, 35vw 76vw #FFF, 52vw 86vw #FFF, 2vw 45vw #FFF, 92vw 19vw #FFF, 55vw 80vw #FFF, 54vw 2vw #FFF, 98vw 10vw #FFF, 42vw 17vw #FFF, 44vw 55vw #FFF, 17vw 56vw #FFF, 23vw 82vw #FFF, 38vw 28vw #FFF, 95vw 68vw #FFF, 20vw 72vw #FFF, 42vw 11vw #FFF, 73vw 96vw #FFF, 19vw 47vw #FFF, 100vw 30vw #FFF, 65vw 57vw #FFF, 67vw 39vw #FFF, 19vw 55vw #FFF, 75vw 8vw #FFF, 99vw 59vw #FFF, 10vw 87vw #FFF, 1vw 50vw #FFF, 90vw 33vw #FFF, 20vw 80vw #FFF, 99vw 68vw #FFF, 71vw 77vw #FFF, 16vw 55vw #FFF, 48vw 35vw #FFF, 67vw 39vw #FFF, 54vw 32vw #FFF, 85vw 66vw #FFF, 24vw 32vw #FFF, 24vw 33vw #FFF, 74vw 74vw #FFF, 15vw 45vw #FFF, 94vw 40vw #FFF, 72vw 99vw #FFF, 65vw 94vw #FFF, 60vw 44vw #FFF, 74vw 76vw #FFF, 26vw 1vw #FFF, 86vw 52vw #FFF, 49vw 82vw #FFF, 35vw 3vw #FFF, 52vw 94vw #FFF, 84vw 69vw #FFF, 8vw 71vw #FFF, 87vw 94vw #FFF, 41vw 53vw #FFF, 10vw 22vw #FFF, 84vw 18vw #FFF, 31vw 22vw #FFF, 99vw 53vw #FFF, 29vw 93vw #FFF, 80vw 84vw #FFF, 35vw 94vw #FFF, 64vw 20vw #FFF, 27vw 3vw #FFF, 62vw 86vw #FFF, 94vw 3vw #FFF, 86vw 70vw #FFF, 82vw 80vw #FFF, 61vw 78vw #FFF, 64vw 9vw #FFF, 61vw 27vw #FFF, 87vw 54vw #FFF, 3vw 13vw #FFF, 44vw 21vw #FFF, 3vw 100vw #FFF, 44vw 51vw #FFF, 86vw 47vw #FFF, 95vw 78vw #FFF, 49vw 6vw #FFF, 74vw 82vw #FFF, 84vw 28vw #FFF, 89vw 71vw #FFF, 91vw 11vw #FFF, 98vw 64vw #FFF, 22vw 85vw #FFF, 6vw 92vw #FFF, 3vw 1vw #FFF, 54vw 90vw #FFF, 25vw 46vw #FFF, 66vw 40vw #FFF, 60vw 26vw #FFF, 97vw 16vw #FFF, 26vw 18vw #FFF, 90vw 100vw #FFF, 1vw 39vw #FFF, 13vw 40vw #FFF, 29vw 17vw #FFF, 4vw 60vw #FFF, 1vw 96vw #FFF, 65vw 5vw #FFF, 78vw 64vw #FFF, 44vw 88vw #FFF, 34vw 94vw #FFF, 54vw 24vw #FFF, 80vw 72vw #FFF, 9vw 53vw #FFF, 84vw 59vw #FFF, 13vw 51vw #FFF, 39vw 82vw #FFF, 10vw 52vw #FFF, 79vw 26vw #FFF, 79vw 6vw #FFF, 37vw 93vw #FFF, 62vw 94vw #FFF, 45vw 60vw #FFF, 63vw 83vw #FFF, 38vw 98vw #FFF, 98vw 68vw #FFF, 53vw 58vw #FFF, 74vw 29vw #FFF, 99vw 29vw #FFF, 95vw 86vw #FFF, 26vw 87vw #FFF, 71vw 43vw #FFF, 46vw 4vw #FFF, 43vw 92vw #FFF, 41vw 89vw #FFF, 63vw 92vw #FFF, 26vw 85vw #FFF, 58vw 75vw #FFF, 39vw 78vw #FFF, 89vw 76vw #FFF, 20vw 65vw #FFF, 27vw 80vw #FFF, 90vw 12vw #FFF, 5vw 67vw #FFF, 61vw 45vw #FFF, 49vw 85vw #FFF, 80vw 71vw #FFF, 66vw 59vw #FFF, 2vw 21vw #FFF, 1vw 78vw #FFF, 99vw 88vw #FFF, 83vw 57vw #FFF, 87vw 56vw #FFF, 40vw 91vw #FFF, 13vw 49vw #FFF, 88vw 57vw #FFF, 74vw 54vw #FFF, 68vw 62vw #FFF, 34vw 80vw #FFF, 12vw 95vw #FFF, 80vw 21vw #FFF, 85vw 55vw #FFF, 71vw 42vw #FFF, 74vw 81vw #FFF, 15vw 31vw #FFF, 3vw 23vw #FFF, 16vw 7vw #FFF, 33vw 42vw #FFF, 3vw 59vw #FFF, 90vw 54vw #FFF, 99vw 93vw #FFF, 92vw 93vw #FFF, 37vw 61vw #FFF, 46vw 5vw #FFF, 32vw 88vw #FFF, 20vw 90vw #FFF, 46vw 54vw #FFF, 10vw 73vw #FFF, 86vw 63vw #FFF, 38vw 14vw #FFF, 27vw 13vw #FFF, 66vw 43vw #FFF, 95vw 38vw #FFF, 10vw 45vw #FFF, 9vw 75vw #FFF, 53vw 67vw #FFF, 49vw 84vw #FFF, 29vw 66vw #FFF, 26vw 100vw #FFF, 76vw 41vw #FFF, 39vw 75vw #FFF, 23vw 2vw #FFF, 21vw 6vw #FFF, 41vw 30vw #FFF, 61vw 95vw #FFF, 73vw 32vw #FFF, 54vw 81vw #FFF, 62vw 64vw #FFF, 21vw 98vw #FFF, 18vw 23vw #FFF, 79vw 53vw #FFF, 43vw 21vw #FFF, 45vw 49vw #FFF, 40vw 18vw #FFF, 61vw 75vw #FFF, 76vw 50vw #FFF, 86vw 15vw #FFF, 2vw 17vw #FFF, 70vw 2vw #FFF, 31vw 63vw #FFF, 83vw 91vw #FFF, 94vw 71vw #FFF, 87vw 73vw #FFF, 58vw 20vw #FFF, 5vw 1vw #FFF, 1vw 83vw #FFF, 32vw 23vw #FFF, 59vw 100vw #FFF, 11vw 51vw #FFF, 19vw 69vw #FFF, 30vw 10vw #FFF, 62vw 9vw #FFF, 57vw 2vw #FFF, 59vw 41vw #FFF, 87vw 21vw #FFF, 42vw 39vw #FFF, 9vw 98vw #FFF, 13vw 62vw #FFF, 57vw 60vw #FFF, 60vw 65vw #FFF, 59vw 87vw #FFF, 50vw 41vw #FFF, 21vw 89vw #FFF, 57vw 1vw #FFF, 37vw 95vw #FFF, 72vw 23vw #FFF, 28vw 19vw #FFF, 86vw 25vw #FFF, 44vw 33vw #FFF, 2vw 89vw #FFF, 12vw 4vw #FFF, 33vw 22vw #FFF, 17vw 76vw #FFF, 77vw 22vw #FFF, 58vw 31vw #FFF, 97vw 49vw #FFF, 66vw 40vw #FFF, 37vw 70vw #FFF, 44vw 43vw #FFF, 76vw 66vw #FFF, 59vw 54vw #FFF, 59vw 96vw #FFF, 98vw 51vw #FFF, 58vw 6vw #FFF, 97vw 65vw #FFF, 66vw 42vw #FFF, 62vw 74vw #FFF, 44vw 26vw #FFF, 70vw 2vw #FFF, 13vw 18vw #FFF, 2vw 8vw #FFF, 100vw 89vw #FFF, 61vw 3vw #FFF, 6vw 4vw #FFF, 44vw 13vw #FFF, 34vw 14vw #FFF, 70vw 83vw #FFF, 88vw 60vw #FFF, 51vw 37vw #FFF, 77vw 74vw #FFF, 15vw 53vw #FFF, 93vw 30vw #FFF, 53vw 24vw #FFF, 59vw 95vw #FFF, 44vw 30vw #FFF, 10vw 86vw #FFF, 12vw 50vw #FFF, 35vw 37vw #FFF, 99vw 87vw #FFF, 27vw 46vw #FFF, 91vw 85vw #FFF, 89vw 65vw #FFF, 51vw 23vw #FFF, 55vw 58vw #FFF, 50vw 10vw #FFF, 55vw 84vw #FFF, 84vw 38vw #FFF, 62vw 61vw #FFF, 55vw 26vw #FFF, 34vw 43vw #FFF, 97vw 51vw #FFF, 6vw 78vw #FFF, 23vw 8vw #FFF, 58vw 37vw #FFF, 81vw 59vw #FFF, 58vw 29vw #FFF, 100vw 53vw #FFF, 19vw 29vw #FFF, 38vw 91vw #FFF, 30vw 44vw #FFF, 95vw 70vw #FFF, 8vw 68vw #FFF, 22vw 54vw #FFF, 18vw 72vw #FFF, 2vw 63vw #FFF, 5vw 31vw #FFF, 84vw 66vw #FFF, 100vw 55vw #FFF, 55vw 72vw #FFF, 66vw 81vw #FFF, 27vw 80vw #FFF, 12vw 73vw #FFF, 30vw 73vw #FFF, 31vw 54vw #FFF, 62vw 11vw #FFF, 49vw 3vw #FFF, 88vw 23vw #FFF, 68vw 100vw #FFF, 34vw 15vw #FFF, 97vw 95vw #FFF, 41vw 64vw #FFF, 57vw 20vw #FFF, 77vw 26vw #FFF, 52vw 58vw #FFF, 40vw 85vw #FFF, 45vw 83vw #FFF, 71vw 21vw #FFF, 84vw 44vw #FFF, 12vw 71vw #FFF, 5vw 35vw #FFF, 40vw 67vw #FFF, 71vw 41vw #FFF, 78vw 91vw #FFF, 59vw 85vw #FFF, 38vw 71vw #FFF, 32vw 39vw #FFF, 95vw 95vw #FFF, 73vw 76vw #FFF, 10vw 59vw #FFF, 45vw 76vw #FFF, 25vw 50vw #FFF, 80vw 27vw #FFF, 52vw 77vw #FFF, 25vw 74vw #FFF, 39vw 53vw #FFF, 45vw 57vw #FFF, 79vw 58vw #FFF, 46vw 52vw #FFF, 16vw 89vw #FFF, 92vw 21vw #FFF, 6vw 40vw #FFF, 100vw 24vw #FFF, 74vw 50vw #FFF, 4vw 24vw #FFF, 80vw 92vw #FFF, 92vw 76vw #FFF, 98vw 16vw #FFF, 22vw 36vw #FFF, 93vw 85vw #FFF, 28vw 34vw #FFF, 68vw 42vw #FFF, 27vw 19vw #FFF, 76vw 89vw #FFF, 67vw 17vw #FFF, 4vw 38vw #FFF, 71vw 82vw #FFF, 2vw 10vw #FFF, 61vw 80vw #FFF, 1vw 41vw #FFF, 81vw 1vw #FFF, 76vw 58vw #FFF, 78vw 24vw #FFF, 92vw 47vw #FFF, 7vw 62vw #FFF, 24vw 39vw #FFF, 77vw 73vw #FFF, 45vw 61vw #FFF, 53vw 60vw #FFF, 92vw 94vw #FFF, 22vw 31vw #FFF, 36vw 2vw #FFF, 35vw 7vw #FFF, 18vw 58vw #FFF, 94vw 51vw #FFF, 27vw 78vw #FFF, 52vw 60vw #FFF, 15vw 15vw #FFF, 65vw 55vw #FFF, 100vw 24vw #FFF, 10vw 24vw #FFF, 61vw 14vw #FFF, 46vw 100vw #FFF, 7vw 62vw #FFF, 49vw 77vw #FFF, 51vw 19vw #FFF, 6vw 87vw #FFF, 44vw 83vw #FFF, 25vw 61vw #FFF, 88vw 84vw #FFF, 16vw 12vw #FFF, 2vw 22vw #FFF, 53vw 21vw #FFF, 77vw 70vw #FFF, 1vw 58vw #FFF, 81vw 9vw #FFF, 34vw 84vw #FFF, 60vw 54vw #FFF, 95vw 35vw #FFF, 99vw 8vw #FFF, 71vw 32vw #FFF, 54vw 8vw #FFF, 56vw 66vw #FFF, 18vw 20vw #FFF, 15vw 94vw #FFF, 98vw 1vw #FFF, 10vw 56vw #FFF, 90vw 54vw #FFF, 34vw 46vw #FFF, 20vw 82vw #FFF, 49vw 97vw #FFF, 3vw 45vw #FFF, 56vw 100vw #FFF, 21vw 62vw #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 5vw 83vw #FFF, 100vw 72vw #FFF, 39vw 72vw #FFF, 77vw 87vw #FFF, 41vw 82vw #FFF, 100vw 9vw #FFF, 89vw 91vw #FFF, 37vw 41vw #FFF, 71vw 84vw #FFF, 22vw 37vw #FFF, 86vw 11vw #FFF, 93vw 82vw #FFF, 62vw 36vw #FFF, 6vw 60vw #FFF, 84vw 7vw #FFF, 9vw 11vw #FFF, 23vw 4vw #FFF, 91vw 92vw #FFF, 24vw 25vw #FFF, 45vw 37vw #FFF, 50vw 23vw #FFF, 96vw 28vw #FFF, 30vw 88vw #FFF, 71vw 43vw #FFF, 97vw 12vw #FFF, 65vw 98vw #FFF, 49vw 16vw #FFF, 21vw 94vw #FFF, 97vw 49vw #FFF, 16vw 84vw #FFF, 46vw 61vw #FFF, 81vw 70vw #FFF, 12vw 87vw #FFF, 21vw 31vw #FFF, 92vw 49vw #FFF, 91vw 68vw #FFF, 50vw 35vw #FFF, 40vw 3vw #FFF, 14vw 12vw #FFF, 52vw 13vw #FFF, 22vw 21vw #FFF, 11vw 36vw #FFF, 59vw 43vw #FFF, 59vw 38vw #FFF, 95vw 71vw #FFF, 96vw 84vw #FFF, 56vw 19vw #FFF, 52vw 8vw #FFF, 64vw 2vw #FFF, 97vw 87vw #FFF, 3vw 34vw #FFF, 43vw 13vw #FFF, 32vw 22vw #FFF, 45vw 12vw #FFF, 32vw 49vw #FFF, 49vw 17vw #FFF, 9vw 35vw #FFF, 77vw 15vw #FFF, 57vw 31vw #FFF, 47vw 78vw #FFF, 85vw 19vw #FFF, 79vw 24vw #FFF, 63vw 77vw #FFF, 71vw 34vw #FFF, 84vw 99vw #FFF, 64vw 32vw #FFF, 71vw 89vw #FFF, 12vw 55vw #FFF, 76vw 24vw #FFF, 82vw 96vw #FFF, 37vw 93vw #FFF, 48vw 54vw #FFF, 57vw 59vw #FFF, 46vw 64vw #FFF, 25vw 1vw #FFF, 98vw 87vw #FFF, 45vw 28vw #FFF, 75vw 68vw #FFF, 59vw 92vw #FFF, 29vw 10vw #FFF, 65vw 35vw #FFF, 97vw 26vw #FFF, 88vw 96vw #FFF, 28vw 73vw #FFF, 66vw 71vw #FFF, 11vw 63vw #FFF, 47vw 22vw #FFF, 75vw 32vw #FFF, 63vw 45vw #FFF, 85vw 94vw #FFF, 86vw 65vw #FFF, 85vw 2vw #FFF, 31vw 23vw #FFF, 76vw 22vw #FFF, 36vw 61vw #FFF, 60vw 16vw #FFF, 91vw 54vw #FFF, 87vw 17vw #FFF, 100vw 34vw #FFF, 57vw 69vw #FFF, 97vw 3vw #FFF, 84vw 12vw #FFF, 73vw 80vw #FFF, 6vw 47vw #FFF, 23vw 7vw #FFF, 83vw 88vw #FFF, 81vw 74vw #FFF, 74vw 7vw #FFF, 65vw 12vw #FFF, 95vw 66vw #FFF, 6vw 14vw #FFF, 91vw 45vw #FFF, 90vw 54vw #FFF, 92vw 51vw #FFF, 33vw 95vw #FFF, 39vw 78vw #FFF, 50vw 14vw #FFF, 43vw 59vw #FFF, 15vw 85vw #FFF, 20vw 21vw #FFF, 45vw 8vw #FFF, 65vw 31vw #FFF, 48vw 65vw #FFF, 70vw 55vw #FFF, 93vw 84vw #FFF, 28vw 11vw #FFF, 45vw 9vw #FFF, 37vw 48vw #FFF, 8vw 32vw #FFF, 74vw 93vw #FFF, 88vw 24vw #FFF, 94vw 90vw #FFF, 59vw 70vw #FFF, 26vw 91vw #FFF, 35vw 97vw #FFF, 67vw 1vw #FFF, 1vw 24vw #FFF, 11vw 61vw #FFF, 43vw 45vw #FFF, 38vw 71vw #FFF, 98vw 60vw #FFF, 4vw 11vw #FFF, 33vw 76vw #FFF, 20vw 80vw #FFF, 20vw 89vw #FFF, 19vw 78vw #FFF, 64vw 100vw #FFF, 63vw 15vw #FFF, 12vw 100vw #FFF, 42vw 96vw #FFF, 100vw 61vw #FFF, 27vw 22vw #FFF, 51vw 92vw #FFF, 30vw 37vw #FFF, 12vw 65vw #FFF, 34vw 91vw #FFF, 3vw 38vw #FFF, 7vw 97vw #FFF, 60vw 68vw #FFF, 36vw 46vw #FFF, 86vw 63vw #FFF, 11vw 55vw #FFF, 69vw 10vw #FFF, 7vw 48vw #FFF, 46vw 89vw #FFF, 91vw 12vw #FFF, 33vw 64vw #FFF, 62vw 70vw #FFF, 34vw 13vw #FFF, 25vw 62vw #FFF, 2vw 11vw #FFF, 44vw 69vw #FFF, 44vw 78vw #FFF, 1vw 73vw #FFF, 24vw 3vw #FFF, 6vw 18vw #FFF, 94vw 12vw #FFF, 53vw 85vw #FFF, 23vw 17vw #FFF, 21vw 38vw #FFF, 91vw 50vw #FFF, 84vw 24vw #FFF, 12vw 7vw #FFF, 23vw 17vw #FFF, 2vw 100vw #FFF, 27vw 72vw #FFF, 77vw 55vw #FFF, 19vw 1vw #FFF, 1vw 48vw #FFF, 52vw 64vw #FFF, 21vw 18vw #FFF, 64vw 81vw #FFF, 45vw 15vw #FFF, 49vw 69vw #FFF, 56vw 75vw #FFF, 95vw 17vw #FFF, 94vw 2vw #FFF, 60vw 36vw #FFF, 66vw 41vw #FFF, 44vw 14vw #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 5vw 83vw #FFF, 100vw 72vw #FFF, 39vw 72vw #FFF, 77vw 87vw #FFF, 41vw 82vw #FFF, 100vw 9vw #FFF, 89vw 91vw #FFF, 37vw 41vw #FFF, 71vw 84vw #FFF, 22vw 37vw #FFF, 86vw 11vw #FFF, 93vw 82vw #FFF, 62vw 36vw #FFF, 6vw 60vw #FFF, 84vw 7vw #FFF, 9vw 11vw #FFF, 23vw 4vw #FFF, 91vw 92vw #FFF, 24vw 25vw #FFF, 45vw 37vw #FFF, 50vw 23vw #FFF, 96vw 28vw #FFF, 30vw 88vw #FFF, 71vw 43vw #FFF, 97vw 12vw #FFF, 65vw 98vw #FFF, 49vw 16vw #FFF, 21vw 94vw #FFF, 97vw 49vw #FFF, 16vw 84vw #FFF, 46vw 61vw #FFF, 81vw 70vw #FFF, 12vw 87vw #FFF, 21vw 31vw #FFF, 92vw 49vw #FFF, 91vw 68vw #FFF, 50vw 35vw #FFF, 40vw 3vw #FFF, 14vw 12vw #FFF, 52vw 13vw #FFF, 22vw 21vw #FFF, 11vw 36vw #FFF, 59vw 43vw #FFF, 59vw 38vw #FFF, 95vw 71vw #FFF, 96vw 84vw #FFF, 56vw 19vw #FFF, 52vw 8vw #FFF, 64vw 2vw #FFF, 97vw 87vw #FFF, 3vw 34vw #FFF, 43vw 13vw #FFF, 32vw 22vw #FFF, 45vw 12vw #FFF, 32vw 49vw #FFF, 49vw 17vw #FFF, 9vw 35vw #FFF, 77vw 15vw #FFF, 57vw 31vw #FFF, 47vw 78vw #FFF, 85vw 19vw #FFF, 79vw 24vw #FFF, 63vw 77vw #FFF, 71vw 34vw #FFF, 84vw 99vw #FFF, 64vw 32vw #FFF, 71vw 89vw #FFF, 12vw 55vw #FFF, 76vw 24vw #FFF, 82vw 96vw #FFF, 37vw 93vw #FFF, 48vw 54vw #FFF, 57vw 59vw #FFF, 46vw 64vw #FFF, 25vw 1vw #FFF, 98vw 87vw #FFF, 45vw 28vw #FFF, 75vw 68vw #FFF, 59vw 92vw #FFF, 29vw 10vw #FFF, 65vw 35vw #FFF, 97vw 26vw #FFF, 88vw 96vw #FFF, 28vw 73vw #FFF, 66vw 71vw #FFF, 11vw 63vw #FFF, 47vw 22vw #FFF, 75vw 32vw #FFF, 63vw 45vw #FFF, 85vw 94vw #FFF, 86vw 65vw #FFF, 85vw 2vw #FFF, 31vw 23vw #FFF, 76vw 22vw #FFF, 36vw 61vw #FFF, 60vw 16vw #FFF, 91vw 54vw #FFF, 87vw 17vw #FFF, 100vw 34vw #FFF, 57vw 69vw #FFF, 97vw 3vw #FFF, 84vw 12vw #FFF, 73vw 80vw #FFF, 6vw 47vw #FFF, 23vw 7vw #FFF, 83vw 88vw #FFF, 81vw 74vw #FFF, 74vw 7vw #FFF, 65vw 12vw #FFF, 95vw 66vw #FFF, 6vw 14vw #FFF, 91vw 45vw #FFF, 90vw 54vw #FFF, 92vw 51vw #FFF, 33vw 95vw #FFF, 39vw 78vw #FFF, 50vw 14vw #FFF, 43vw 59vw #FFF, 15vw 85vw #FFF, 20vw 21vw #FFF, 45vw 8vw #FFF, 65vw 31vw #FFF, 48vw 65vw #FFF, 70vw 55vw #FFF, 93vw 84vw #FFF, 28vw 11vw #FFF, 45vw 9vw #FFF, 37vw 48vw #FFF, 8vw 32vw #FFF, 74vw 93vw #FFF, 88vw 24vw #FFF, 94vw 90vw #FFF, 59vw 70vw #FFF, 26vw 91vw #FFF, 35vw 97vw #FFF, 67vw 1vw #FFF, 1vw 24vw #FFF, 11vw 61vw #FFF, 43vw 45vw #FFF, 38vw 71vw #FFF, 98vw 60vw #FFF, 4vw 11vw #FFF, 33vw 76vw #FFF, 20vw 80vw #FFF, 20vw 89vw #FFF, 19vw 78vw #FFF, 64vw 100vw #FFF, 63vw 15vw #FFF, 12vw 100vw #FFF, 42vw 96vw #FFF, 100vw 61vw #FFF, 27vw 22vw #FFF, 51vw 92vw #FFF, 30vw 37vw #FFF, 12vw 65vw #FFF, 34vw 91vw #FFF, 3vw 38vw #FFF, 7vw 97vw #FFF, 60vw 68vw #FFF, 36vw 46vw #FFF, 86vw 63vw #FFF, 11vw 55vw #FFF, 69vw 10vw #FFF, 7vw 48vw #FFF, 46vw 89vw #FFF, 91vw 12vw #FFF, 33vw 64vw #FFF, 62vw 70vw #FFF, 34vw 13vw #FFF, 25vw 62vw #FFF, 2vw 11vw #FFF, 44vw 69vw #FFF, 44vw 78vw #FFF, 1vw 73vw #FFF, 24vw 3vw #FFF, 6vw 18vw #FFF, 94vw 12vw #FFF, 53vw 85vw #FFF, 23vw 17vw #FFF, 21vw 38vw #FFF, 91vw 50vw #FFF, 84vw 24vw #FFF, 12vw 7vw #FFF, 23vw 17vw #FFF, 2vw 100vw #FFF, 27vw 72vw #FFF, 77vw 55vw #FFF, 19vw 1vw #FFF, 1vw 48vw #FFF, 52vw 64vw #FFF, 21vw 18vw #FFF, 64vw 81vw #FFF, 45vw 15vw #FFF, 49vw 69vw #FFF, 56vw 75vw #FFF, 95vw 17vw #FFF, 94vw 2vw #FFF, 60vw 36vw #FFF, 66vw 41vw #FFF, 44vw 14vw #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 46vw 73vw #FFF, 78vw 42vw #FFF, 45vw 26vw #FFF, 32vw 73vw #FFF, 49vw 67vw #FFF, 34vw 88vw #FFF, 15vw 64vw #FFF, 74vw 73vw #FFF, 28vw 62vw #FFF, 10vw 49vw #FFF, 11vw 68vw #FFF, 92vw 23vw #FFF, 33vw 30vw #FFF, 30vw 40vw #FFF, 88vw 34vw #FFF, 7vw 19vw #FFF, 34vw 30vw #FFF, 20vw 67vw #FFF, 94vw 30vw #FFF, 24vw 5vw #FFF, 52vw 4vw #FFF, 50vw 72vw #FFF, 63vw 7vw #FFF, 65vw 69vw #FFF, 5vw 6vw #FFF, 100vw 85vw #FFF, 35vw 84vw #FFF, 14vw 33vw #FFF, 64vw 91vw #FFF, 58vw 75vw #FFF, 14vw 79vw #FFF, 31vw 4vw #FFF, 64vw 61vw #FFF, 2vw 36vw #FFF, 47vw 46vw #FFF, 23vw 36vw #FFF, 67vw 42vw #FFF, 83vw 54vw #FFF, 51vw 71vw #FFF, 13vw 61vw #FFF, 3vw 60vw #FFF, 93vw 2vw #FFF, 53vw 6vw #FFF, 20vw 59vw #FFF, 93vw 36vw #FFF, 2vw 10vw #FFF, 75vw 23vw #FFF, 86vw 31vw #FFF, 24vw 65vw #FFF, 31vw 96vw #FFF, 61vw 28vw #FFF, 20vw 93vw #FFF, 18vw 38vw #FFF, 17vw 81vw #FFF, 50vw 65vw #FFF, 7vw 3vw #FFF, 63vw 22vw #FFF, 80vw 100vw #FFF, 29vw 96vw #FFF, 4vw 50vw #FFF, 3vw 80vw #FFF, 19vw 9vw #FFF, 87vw 57vw #FFF, 100vw 76vw #FFF, 81vw 86vw #FFF, 92vw 68vw #FFF, 97vw 38vw #FFF, 13vw 60vw #FFF, 23vw 13vw #FFF, 97vw 29vw #FFF, 85vw 1vw #FFF, 87vw 62vw #FFF, 30vw 68vw #FFF, 41vw 19vw #FFF, 10vw 49vw #FFF, 77vw 94vw #FFF, 10vw 99vw #FFF, 36vw 45vw #FFF, 38vw 14vw #FFF, 96vw 63vw #FFF, 43vw 49vw #FFF, 87vw 34vw #FFF, 13vw 94vw #FFF, 32vw 19vw #FFF, 21vw 25vw #FFF, 15vw 56vw #FFF, 74vw 59vw #FFF, 3vw 31vw #FFF, 55vw 72vw #FFF, 84vw 43vw #FFF, 100vw 59vw #FFF, 41vw 39vw #FFF, 70vw 30vw #FFF, 21vw 48vw #FFF, 66vw 15vw #FFF, 46vw 39vw #FFF, 95vw 19vw #FFF, 87vw 31vw #FFF, 79vw 8vw #FFF, 94vw 63vw #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 46vw 73vw #FFF, 78vw 42vw #FFF, 45vw 26vw #FFF, 32vw 73vw #FFF, 49vw 67vw #FFF, 34vw 88vw #FFF, 15vw 64vw #FFF, 74vw 73vw #FFF, 28vw 62vw #FFF, 10vw 49vw #FFF, 11vw 68vw #FFF, 92vw 23vw #FFF, 33vw 30vw #FFF, 30vw 40vw #FFF, 88vw 34vw #FFF, 7vw 19vw #FFF, 34vw 30vw #FFF, 20vw 67vw #FFF, 94vw 30vw #FFF, 24vw 5vw #FFF, 52vw 4vw #FFF, 50vw 72vw #FFF, 63vw 7vw #FFF, 65vw 69vw #FFF, 5vw 6vw #FFF, 100vw 85vw #FFF, 35vw 84vw #FFF, 14vw 33vw #FFF, 64vw 91vw #FFF, 58vw 75vw #FFF, 14vw 79vw #FFF, 31vw 4vw #FFF, 64vw 61vw #FFF, 2vw 36vw #FFF, 47vw 46vw #FFF, 23vw 36vw #FFF, 67vw 42vw #FFF, 83vw 54vw #FFF, 51vw 71vw #FFF, 13vw 61vw #FFF, 3vw 60vw #FFF, 93vw 2vw #FFF, 53vw 6vw #FFF, 20vw 59vw #FFF, 93vw 36vw #FFF, 2vw 10vw #FFF, 75vw 23vw #FFF, 86vw 31vw #FFF, 24vw 65vw #FFF, 31vw 96vw #FFF, 61vw 28vw #FFF, 20vw 93vw #FFF, 18vw 38vw #FFF, 17vw 81vw #FFF, 50vw 65vw #FFF, 7vw 3vw #FFF, 63vw 22vw #FFF, 80vw 100vw #FFF, 29vw 96vw #FFF, 4vw 50vw #FFF, 3vw 80vw #FFF, 19vw 9vw #FFF, 87vw 57vw #FFF, 100vw 76vw #FFF, 81vw 86vw #FFF, 92vw 68vw #FFF, 97vw 38vw #FFF, 13vw 60vw #FFF, 23vw 13vw #FFF, 97vw 29vw #FFF, 85vw 1vw #FFF, 87vw 62vw #FFF, 30vw 68vw #FFF, 41vw 19vw #FFF, 10vw 49vw #FFF, 77vw 94vw #FFF, 10vw 99vw #FFF, 36vw 45vw #FFF, 38vw 14vw #FFF, 96vw 63vw #FFF, 43vw 49vw #FFF, 87vw 34vw #FFF, 13vw 94vw #FFF, 32vw 19vw #FFF, 21vw 25vw #FFF, 15vw 56vw #FFF, 74vw 59vw #FFF, 3vw 31vw #FFF, 55vw 72vw #FFF, 84vw 43vw #FFF, 100vw 59vw #FFF, 41vw 39vw #FFF, 70vw 30vw #FFF, 21vw 48vw #FFF, 66vw 15vw #FFF, 46vw 39vw #FFF, 95vw 19vw #FFF, 87vw 31vw #FFF, 79vw 8vw #FFF, 94vw 63vw #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}

/*# sourceMappingURL=style.css.map */
