---
layout: null
permalink: /games-data.json
eleventyExcludeFromCollections: true
---
[
{% for games in collections.gamesList %}
  {
    "id": "{{ games.fileSlug }}",
    "title": "{{ games.data.title }}",
    "image": "{{ games.data.image }}",
    "averages": {
        "steamVR": {% if games.data.opinions and games.data.opinions | selectattr('steamVR', '!=', 0) | length > 0 %}
          {% set totalSteamVR = 0 %}
          {% set countSteamVR = 0 %}
          {% for opinion in games.data.opinions %}
            {% if opinion.steamVR != 0 %}
              {% set totalSteamVR = totalSteamVR + opinion.steamVR %}
              {% set countSteamVR = countSteamVR + 1 %}
            {% endif %}
          {% endfor %}
          {{ totalSteamVR / countSteamVR | round(2) }}
        {% else %} null {% endif %},
        
        "monado": {% if games.data.opinions and games.data.opinions | selectattr('monado', '!=', 0) | length > 0 %}
          {% set totalMonado = 0 %}
          {% set countMonado = 0 %}
          {% for opinion in games.data.opinions %}
            {% if opinion.monado != 0 %}
              {% set totalMonado = totalMonado + opinion.monado %}
              {% set countMonado = countMonado + 1 %}
            {% endif %}
          {% endfor %}
          {{ totalMonado / countMonado | round(2) }}
        {% else %} null {% endif %},
        
        "alvr": {% if games.data.opinions and games.data.opinions | selectattr('alvr', '!=', 0) | length > 0 %}
          {% set totalAlvr = 0 %}
          {% set countAlvr = 0 %}
          {% for opinion in games.data.opinions %}
            {% if opinion.alvr != 0 %}
              {% set totalAlvr = totalAlvr + opinion.alvr %}
              {% set countAlvr = countAlvr + 1 %}
            {% endif %}
          {% endfor %}
          {{ totalAlvr / countAlvr | round(2) }}
        {% else %} null {% endif %},
        
        "wivrn": {% if games.data.opinions and games.data.opinions | selectattr('wivrn', '!=', 0) | length > 0 %}
          {% set totalWivrn = 0 %}
          {% set countWivrn = 0 %}
          {% for opinion in games.data.opinions %}
            {% if opinion.wivrn != 0 %}
              {% set totalWivrn = totalWivrn + opinion.wivrn %}
              {% set countWivrn = countWivrn + 1 %}
            {% endif %}
          {% endfor %}
          {{ totalWivrn / countWivrn | round(2) }}
        {% else %} null {% endif %}
    }
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
